@import "global/variables";
@import "global/icons";
@import "global/helpers";
@import "global/mixins";
@import "global/normalize";
@import "partial/base";
@import "partial/type";
@import "partial/buttons";
@import "partial/dropdown";
@import "partial/form";
@import "partial/labels";
@import "partial/layout";
@import "partial/tables";
@import "partial/tabs";
@import "partial/map";
@import "partial/leaflet";
// component styles
@import "partial/branding";
@import "partial/drop_zone";
@import "partial/map_navigation";
@import "partial/misc";
@import "partial/modal_window";
@import "partial/my_data";
@import "partial/work_bench";
//mobile only styles
@import "component/mobile";
@import "component/dropdown_panel";
@import "component/loader";
@import "component/location_bar";
@import "component/notification";
@import "component/compass_zoom";
@import "component/settingPanel";
@import "component/progressBar";
@import "component/chart";
@import "component/data_catalog";
@import "component/feature_info";
@import "component/now_viewing";
@import "component/preview";
@import "component/search";
@import "component/mobile";
@import "component/bottom_dock";
@import "component/timeline";
@import "component/share_panel";

// Getting started tab
.panel--getting-started {
  .panel__inner {
    a {
      font-weight: 600;
      text-decoration: underline;
      color: #fff;
      &:hover,
      &:focus {
        color: #f5f5f5;
      }
    }
  }
  .panel-content {
    background-position: right center;
  }
}

.notification {
  background-image: url("../images/welcome-bg.jpg");
  background-position: center right;
  background-size: cover;
}

.notification__inner {
  background-color: rgba(0, 0, 0, 0.5);
}
