{
  "corsDomains": [
    "aremi.d61.io",
    "aremi.data61.io",
    "datacube.org.au",
    "dea.ga.gov.au",
    "gsky.nci.org.au",
    "lsa.geohub.sa.gov.au",
    "network-opportunity-maps.s3-ap-southeast-2.amazonaws.com",
    "network-opportunity-maps.s3.amazonaws.com",
    "programs.communications.gov.au",
    "spatial.industry.nsw.gov.au",
    "uts-nom.herokuapp.com"
  ],
  "homeCamera": {
    "west": 112,
    "south": -48,
    "east": 155,
    "north": -5
  },
  "services": [],
  "catalog": [
    {
      "name": "Electricity Infrastructure",
      "type": "group",
      "preserveOrder": true,
      "items": [
        {
          "name": "Generation",
          "type": "group",
          "preserveOrder": true,
          "items": [
            <% include custodian/Australian_Energy_Market_Operator/Live_NEM_Power_Generation %>,
            <% include custodian/Australian_Photovoltaic_Institute/Live_Solar_PV %>,
            <% include custodian/Clean_Energy_Regulator/Small_Scale_Installations %>,
            <% include custodian/Clean_Energy_Regulator/Designated_Generation_Facilities %>,
            <% include custodian/Clean_Energy_Regulator/Emissions_Baseline_Determinations %>,
            <% include custodian/Geoscience_Australia/Power_Stations %>,
            <% include custodian/RenewablesSA/Diesel_generators %>,
          ]
        },
        {
          "name": "Transmission",
          "type": "group",
          "items": [
            {
              "name": "Western Australia",
              "type": "group",
              "items": [
                {
                  "name": "Forecast Remaining Capacity",
                  "type": "group",
                  "items": [
                    <% include custodian/Landgate/ForecastRemainingCapacity %>,
                  ]
                },
                <% include custodian/Landgate/Electricity %>,
              ]
            },
            <% include custodian/Geoscience_Australia/Transmission_Lines %>,
            <% include custodian/Geoscience_Australia/Transmission_Substations %>,
          ]
        },
        {
          "name": "Network Opportunities",
          "type": "group",
          "preserveOrder": true,
          "items": [
            <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/constraints/ejs/constraints %>,
            {
              "name": "New Generator Connection Capacity",
              "type": "group",
              "preserveOrder": true,
              "items": [
                {
                  "name": "Transmission",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Transmission-powerlines-geojson %>,
                    <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Transmission-substations-csv %>,
                  ]
                },
                {
                  "name": "Distribution",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Distribution-powerlines-geojson %>,
                    <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Distribution-substations-csv %>,
                  ]
                }
              ]
            },
            {
              "name": "Supporting Information",
              "type": "group",
              "preserveOrder": true,
              "items": [
                <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Distribution-boundaries %>,
                <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/transmission-lines %>,
                <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Distribution-cables %>,
                <% include custodian/Institute_for_Sustainable_Futures/DANCE3/aremi-isf/DG-connection/Distribution-substations-wms %>,
              ]
            }
          ]
        },
        {
          "name": "Residential",
          "type": "group",
          "preserveOrder": true,
          "items": [
            <% include custodian/Australian_Bureau_of_Statistics/Consumption %>,
          ]
        },
      ]
    },
    {
      "name": "Renewable Energy",
      "type": "group",
      "preserveOrder": true,
      "items": [
        {
          "name": "Solar",
          "type": "group",
          "items": [
            <% include custodian/Bureau_of_Meteorology/Solar_Climatology %>,
            <% include custodian/Bureau_of_Meteorology/Solar_Satellite %>,
            <% var sshoId = "5638a250" %>
            <% include custodian/Bureau_of_Meteorology/Solar_Station_Observations %>,
            <% var ssTmyId = "e7b24a0c" %>
            <% include custodian/Data61/Solar_Station_Typical_Meteorological_Year %>,
            <% include custodian/Institute_for_Sustainable_Futures/Solar_Rooftop/Solar_Rooftop_Potential %>
          ]
        },
        {
          "name": "Wind",
          "type": "group",
          "items": [
            <% include custodian/ACT_Environment_and_Planning_Directorate/Windmap %>,
            <% include custodian/DNVGL/WAsP-LIB-files %>,
            <% include custodian/DNVGL/Wind %>,
            <% include custodian/Geological_Survey_of_NSW/Wind %>,
          ]
        },
        {
          "name": "Bioenergy",
          "type": "group",
          "preserveOrder": true,
          "description": "<% include bioenergy-description %>",
          "items": [
            {
              "name": "National",
              "type": "group",
              "items": [
                <% include custodian/ABARES/DGA_Catchment_Scale_Land_Use %>,
                <% include custodian/USQ_National_Centre_for_Engineering_in_Agriculture/Biogas_Facilities %>,
                <% include custodian/RIRDC/Biomass %>,
                <% include custodian/Geoscience_Australia/Waste_Management_Facilities %>,
                <% include custodian/QLD_Department_of_Science_Information_Technology_and_Innovation/Sugarcane %>,
                <% include custodian/RenewablesSA/National_Winery_Residues %>,
                <% include custodian/RenewablesSA/National_Piggery_Residues %>,
              ]
            },
            {
              "name": "New South Wales",
              "type": "group",
              "itemProperties": {
                "opacity": 0.8
              },
              "items": [
                {
                  "name": "Cropping",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/NSW_Department_of_Primary_Industries/Cropping %>,
                  ]
                },
                {
                  "name": "Forestry",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/NSW_Department_of_Primary_Industries/Forestry %>,
                  ]
                },
                {
                  "name": "Horticulture",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/NSW_Department_of_Primary_Industries/Bio %>,
                  ]
                },
                {
                  "name": "Livestock",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/NSW_Department_of_Primary_Industries/Livestock %>,
                  ]
                },
                {
                  "name": "Organic Waste",
                  "type": "group",
                  "preserveOrder": true,
                  "items": [
                    <% include custodian/NSW_Department_of_Primary_Industries/Waste %>,
                  ]
                }
              ]
            },
            <% include custodian/QLD_Department_of_Science_Information_Technology_and_Innovation/Bio %>,
            {
              "name": "South Australia",
              "type": "group",
              "preserveOrder": true,
              "description": "<h3>South Australia’s Bioenergy Industry Development program</h3> <h4>Increased attention on biomass as a source for energy and fuel production offers significant opportunities to utilise untapped resources.</h4> <p>The bioenergy industry is in its early stages in South Australia but innovative research and technology is helping to identify opportunities to produce energy and fuel.</p> <p>In 2015 South Australia’s bioenergy potential was analysed as a first step towards creating a substantial and sustainable bioenergy industry, with the Bioenergy Roadmap Report and associated spatial data being produced.</p> <p>This process identified bioenergy ‘hotspot’ areas for further investigation and in the second stage of South Australia’s Bioenergy Industry Development program, potential for bioenergy projects is being explored.</p> <p>Focus has been on engagement with and support for businesses and industry groups to investigate opportunities for providing feedstocks, utilising energy outputs and assessing the feasibility of options.</p> <p>The mapped biomass data provides an invaluable tool to investigate the resource at a local level and to assist in early stage project feasibility and development.</p> <p>The South Australian government welcomes interest from businesses and industry in catalysing investment in the bioeconomy.</p> <p>See RenewablesSA website for more information including metadata and data sources.</p> http://www.renewablessa.sa.gov.au/investor-information/bio-energy-
                roadmap/biomass-for-bioenergy-assessment",
              "items": [
                <% include custodian/RenewablesSA/Bio %>,
              ]
            },
            <% include custodian/TAS_Department_of_State_Growth/Bio %>,
            {
              "name": "Victoria",
              "type": "group",
              "items":  <% include custodian/Sustainability_Victoria/Root-new %>,
            },
            {
              "name": "Western Australia",
              "type": "group",
              "description": "<h3>WA AREMI</h3> <p>Welcome to the Western Australian section of the AREMI mapping resource. This is a national interactive mapping database providing information on biomass quantity and spatial distribution that may be available for a range of uses including for the Bioeconomy.</p> <p>A number of layers have been developed providing information on residues from the main agricultural crop and livestock industries as well as plantation forestry and municipal waste. The available layers include residue information from,  <ul> <li>Cereal crops</li> <li>Annual horticulture (multiple crops)</li> <li>Perennial horticulture</li> <li>Hard and softwood plantations</li> <li>Oil Mallee plantations</li> <li>Intensive animal industries (poultry, dairy and cattle feedlots)</li> <li>Municipal solid waste</li> <li>Commercial and industrial waste</li> <li>Construction and demolition waste</li> <li>Seaweed wrack</li> </ul> </p> <p>To add a layer, click on the feedstock layer you are interested in from the drop down list. Further layers can be added by clicking on the ‘Add Data’ tab.</p> <p>For further information contact:<br/> <strong>Department of Primary Industries and Regional Development</strong><br/> Kim Brooksbank<br/> Email: kim.brooksbank@dpird.wa.gov.au<br/><br/> Ron Master<br/>Email:ronald.master@dpird.wa.gov.au<br/> </p>",
              "items": [
                <% include custodian/WA_Department_of_Primary_Industries_and_Regional_Development/Bio %>,
              ]
            }
          ]
        },
        {
          "name": "Geothermal",
          "type": "group",
          "preserveOrder": true,
          "items": [
            <% include custodian/Geoscience_Australia/Geothermal_layers %>,
            {
              "name": "New South Wales",
              "type": "group",
              "items": [
                <% include custodian/Geological_Survey_of_NSW/Geothermal %>,
              ]
            },
          ]
        },
        {
          "name": "Hydro",
          "type": "group",
          "items": [
            {
              "name": "Storage",
              "type": "group",
              "isPromoted": true,
              "items": [
                <% include custodian/ANU/ANU_STORES %>,
                <% include custodian/ANU/ANU_STORES-world %>,
              ]
            },
            <% var catchmentId = "54a55472" %>
            <% include custodian/Bureau_of_Meteorology/Catchment %>,
            <% include custodian/Geoscience_Australia/Hydrography %>,
            <% var damWallsId = "54a558b4" %>
            <% include custodian/Geoscience_Australia/National_Major_Dam_Walls %>,
          ]
        },
        {
          "name": "Marine",
          "type": "group",
          "items": [
            {
              "name": "Australian Marine Energy Atlas",
              "type": "group",
              "description": "<% include custodian/CSIRO_OandA/WaveAtlas-description.html %>",
              "items": [
                <% include custodian/CSIRO_OandA/WaveAtlas %>,
              ]
            },
            <% include custodian/Geoscience_Australia/Bathymetry_Seabed %>,
          ]
        },
        <% include custodian/Australian_Renewable_Energy_Agency/Project_Locations %>
      ]
    },
    {
      "name": "Infrastructure",
      "type": "group",
      "items": [
        <% include custodian/Geoscience_Australia/Infrastructure_layers %>,
        <% include custodian/Geoscience_Australia/Major_Ports %>,
        <% include custodian/Geoscience_Australia/Pipelines %>,
        <% var damWallsId = "54a558c8" %>
        <% include custodian/Geoscience_Australia/National_Major_Dam_Walls %>,
        <% include custodian/Geoscience_Australia/National_Major_Desalination_Plants %>,
        <% include custodian/Geoscience_Australia/Liquid_Fuel_Facilities %>,
        {
          "name": "Communications",
          "type": "group",
          "items": [
            <% include custodian/Department_of_Communications/Broadband %>,
            <% include custodian/Australian_Communications_and_Media_Authority/Radio_Licenses %>
          ]
        },
        {
          "name": "Transport",
          "type": "group",
          "items": [
            <% include custodian/Geoscience_Australia/Transport_layers %>,
          ]
        },
      ]
    },
    <% include custodian/EV_Map/ev_map %>,
    {
      "name": "Environment",
      "type": "group",
      "items": [
        <% include custodian/Department_of_Environment/Web_Services %>,
      ]
    },
    {
      "name": "Boundaries",
      "type": "group",
      "items": [
        <% include custodian/Australian_Bureau_of_Statistics/All_ABS_Boundaries %>,
        {
          "name": "Cadastre and Land Tenure",
          "type": "group",
          "preserveOrder": true,
          "items": [
            <% include custodian/Geoscience_Australia/Cadastral_Parcels %>,
            <% include custodian/Geoscience_Australia/Land_Tenure %>,
            {
              "name": "By State",
              "type": "group",
              "items": [
                <% include custodian/Landgate/Cadastre %>,
                <% include custodian/Land_and_Property_Information_NSW/Cadastre %>,
                <% include custodian/Land_Information_System_Tasmania/Cadastral_Parcels %>,
                {
                  "name": "Queensland",
                  "type": "group",
                  "items": [
                    <% include custodian/Queensland_Government/Cadastre_Land_Tenure %>
                  ]
                },
                {
                  "name": "ACT",
                  "type": "group",
                  "items": [
                    <% include custodian/ACT_Environment_and_Planning_Directorate/cadastre %>
                  ]
                },
                {
                  "name": "Northern Territory",
                  "type": "group",
                  "items": [
                    <% include custodian/Northern_Territory_Government/cadastre %>
                  ]
                }
              ]
            }
          ]
        },
        <% include custodian/Geoscience_Australia/Defence_Restricted_Areas %>,
        <% include custodian/Australian_Bureau_of_Statistics/Boundaries %>,
        <% include custodian/Department_of_Environment/Protected_Areas %>,
        <% include custodian/Department_of_Environment/Commonwealth_Marine_Regions %>,
        <% include custodian/National_Native_Title_Tribunal/Native_Titles %>,
      ]
    },
    {
      "name": "Topography",
      "type": "group",
      "items": [
        {
          "name": "Elevation",
          "type": "group",
          "items": [
            <% include custodian/Geoscience_Australia/Elevation_layers %>,
          ]
        },
        {
          "name": "Aerial/Satellite Imagery",
          "type": "group",
          "items": [
            <% include custodian/Geoscience_Australia/ACT_Aerial_Imagery %>,
            <% include custodian/Land_and_Property_Information_NSW/Aerial %>,
            <% include custodian/Queensland_Government/Public_Imagery %>,
            <% include custodian/Land_Information_System_Tasmania/Orthophoto %>,
            <% include custodian/Digital_Earth_Australia/Satellite_Images %>,
            <% include custodian/Digital_Earth_Australia/Hotspots %>,
          ]
        },
        {
          "name": "Land",
          "type": "group",
          "items": [
            <% include custodian/Geoscience_Australia/Land_layers %>,
            <% include custodian/ASRIS/CLUM %>,
          ]
        },
        {
          "name": "Water",
          "type": "group",
          "items": [
            <% include custodian/Digital_Earth_Australia/Water_Observations_from_Space %>,
            <% include custodian/Geoscience_Australia/Water_layers %>,
            <% include custodian/Bureau_of_Meteorology/Water_layers %>,
            <% var catchmentId = "d3a111dc" %>
            <% include custodian/Bureau_of_Meteorology/Catchment %>,
          ]
        }
      ]
    },
    {
      "name": "Population",
      "type": "group",
      "items": [
        <% include custodian/Geoscience_Australia/Buildings %>,
        <% include custodian/Geoscience_Australia/Population_Density %>,
        <% include custodian/Australian_Bureau_of_Statistics/Census %>,
      ]
    },
    {
      "name": "Research",
      "type": "group",
      "items": [
        {
          "name": "ISF Breaking the Solar Gridlock",
          "type": "group",
          "items": [
            {
              "name": "Series 2 - CSP Indicative Firm Capacity",
              "type": "group",
              "items": [
                <% include custodian/Institute_for_Sustainable_Futures/Series2 %>,
              ]
            },
            {
              "name": "Series 3 - CSP Cost Benefit",
              "type": "group",
              "items": [
                <% include custodian/Institute_for_Sustainable_Futures/Series3 %>,
              ]
            }
          ]
        },
        {
          <% include custodian/NEAR_Program/near_catalogue %>
        }
      ]
    },
    {
      "name": "Weather",
      "type": "group",
      "items": [
        <% var sshoId = "54a554d6" %>
        <% include custodian/Bureau_of_Meteorology/Solar_Station_Observations %>,
        <% var ssTmyId = "17198a4e" %>
        <% include custodian/Data61/Solar_Station_Typical_Meteorological_Year %>
      ]
    }
  ]
}
