<h3>{{Station name}}</h3>

<style type='text/css'>
  table.tmy_pad tr td:nth-child(1) {
    padding-right: 0.5em;
  }
</style>

<table>
  <tr><td>Lat/Lon:&nbsp;</td> <td><strong>{{Latitude}},{{Longitude}}</strong></td></tr>

  <tr><td>Height above mean sea level:&nbsp;</td> </tr>
  <tr><td>&mdash; Station:&nbsp;</td> <td><strong>{{Height of station above mean sea level in metres}} metres</strong></td></tr>
  <tr><td>&mdash; Barometer:&nbsp;</td> <td><strong>{{Height of barometer above sea level in metres}} metres</strong></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>Bureau of Meteorology id:&nbsp;</td> <td><strong>{{Bureau of Meteorology station number}}</strong></td></tr>
  <tr><td>WMO index number:&nbsp;</td> <td><strong>{{WMO index number}}</strong></td></tr>
  <tr><td>Rainfall district code:&nbsp;</td> <td><strong>{{Rainfall district code}}</strong></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>Download full observation record (CSV):&nbsp;</td> <td>{{{Download full observation record (CSV)}}}</td></tr>
  <tr><td>&nbsp;</td></tr>

  {{#Download TMY (CSV)}}
  <tr><td>Download TMY (CSV):&nbsp;</td> <td>{{{Download TMY (CSV)}}}</td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td colspan='2'>

    <style type='text/css'>
      table.tmy_align tr td {
        text-align: right;
      }

      table.tmy_align tr td:nth-child(1) {
        text-align: left;
      }

      table.tmy_align tr:nth-child(even) {
        background: #505050;
      }
    </style>

    <table class='tmy_align tmy_pad'>
      <tr><td><strong>Month</strong></td> <td><strong>Months valid data</strong></td> <td><strong>Year of typical month</strong></td></tr>
      <tr><td>January</td>   <td><strong>{{January valid years}}</strong></td>   <td><strong>{{January TMY}}</strong></td>
      <tr><td>February</td>  <td><strong>{{February valid years}}</strong></td>  <td><strong>{{February TMY}}</strong></td>
      <tr><td>March</td>     <td><strong>{{March valid years}}</strong></td>     <td><strong>{{March TMY}}</strong></td>
      <tr><td>April</td>     <td><strong>{{April valid years}}</strong></td>     <td><strong>{{April TMY}}</strong></td>
      <tr><td>May</td>       <td><strong>{{May valid years}}</strong></td>       <td><strong>{{May TMY}}</strong></td>
      <tr><td>June</td>      <td><strong>{{June valid years}}</strong></td>      <td><strong>{{June TMY}}</strong></td>
      <tr><td>July</td>      <td><strong>{{July valid years}}</strong></td>      <td><strong>{{July TMY}}</strong></td>
      <tr><td>August</td>    <td><strong>{{August valid years}}</strong></td>    <td><strong>{{August TMY}}</strong></td>
      <tr><td>September</td> <td><strong>{{September valid years}}</strong></td> <td><strong>{{September TMY}}</strong></td>
      <tr><td>October</td>   <td><strong>{{October valid years}}</strong></td>   <td><strong>{{October TMY}}</strong></td>
      <tr><td>November</td>  <td><strong>{{November valid years}}</strong></td>  <td><strong>{{November TMY}}</strong></td>
      <tr><td>December</td>  <td><strong>{{December valid years}}</strong></td>  <td><strong>{{December TMY}}</strong></td>
    </table>
  </td></tr>
  {{/Download TMY (CSV)}}

  {{^Download TMY (CSV)}}
  <tr><td colspan='2'>There is not sufficient data to produce a TMY for this station.</td></tr>
  {{/Download TMY (CSV)}}

</table>
