{
  "id": "e9464250",
  "name": "Cadastral Parcels - Tasmania",
  "layers": "Cadastral Parcels",
  "type": "esri-mapServer",
  "url": "http://services.thelist.tas.gov.au/arcgis/rest/services/Public/CadastreAndAdministrative/MapServer",
  "opacity": 1.0,
  <%- include ../../common/standard_properties %>,
  "info": [
    {
      "name": "Layer Help",
      "content": "This layer only shows data at high zoom levels - ensure that the Map Scale indicator at the bottom right is showing 500m or less."
    },
    {
      "name": "Data Custodian",
      "content": "[Land Information System Tasmania - Tasmanian Government](https://www.thelist.tas.gov.au/)<p><a href='mailto:listhelp@dpipwe.tas.gov.au'>listhelp@dpipwe.tas.gov.au</a>"
    }
  ],
  "infoSectionOrder": [
    "Layer Help",
    "Data Description",
    "Data Custodian",
    "Copyright Text"
  ]
}
