{
  "name": "Cadastral Parcels - Tasmania",
  "layers": "38",
  "type": "esri-mapServer",
  "url": "http://services.thelist.tas.gov.au/arcgis/rest/services/Public/CadastreAndAdministrative/MapServer",
  "legendUrl": "",
  "opacity": "1.0",
  <%- include ../../common/standard_properties %>,
  "info": [
    {
      "name": "Layer Help",
      "content": "This layer only shows data at high zoom levels - ensure that the Map Scale indicator at the bottom right is showing 500m or less."
    },
    {
      "name": "Data Custodian",
      "content": "[Land Information System Tasmania - Tasmanian Government](https://www.thelist.tas.gov.au/)<p><a href='mailto:listhelp@dpipwe.tas.gov.au'>listhelp@dpipwe.tas.gov.au</a>"
    },
    {
      "name": "Licensing, Terms & Conditions",
      "content": "<a href='http://creativecommons.org/licenses/by/3.0/au/'><img src='https://www.thelist.tas.gov.au/app/export/system/modules/au.gov.tas.dpipwe.sif.list/resources_v11/images/dd_images/by.png' alt='Creative common Attribution 3.0 Australia' style='border:0'></a><font size='2'> <a href='http://www.thelist.tas.gov.au' target='_blank'>the LIST</a> &#169; State of Tasmania</font>"
    }
  ],
  "infoSectionOrder": [
    "Layer Help",
    "Data Description",
    "Data Custodian",
    "Licensing, Terms & Conditions"
  ]
}
