<h3>
    {{#FEATURETYPE}} {{FEATURETYPE}}: {{NAME}} {{/FEATURETYPE}}
    {{#FEATURE TYPE}} Type: {{FEATURE TYPE}} {{/FEATURE TYPE}}
</h3>
<p>
{{#BUILDING STATUS}} Status: <strong>{{BUILDING STATUS}}</strong> <br/> {{/BUILDING STATUS}}

Accuracy:
<strong>
    {{#PLANIMETRICACCURACY}} {{PLANIMETRICACCURACY}} {{/PLANIMETRICACCURACY}}
    {{#PLANIMETRIC ACCURACY}} {{PLANIMETRIC ACCURACY}} {{/PLANIMETRIC ACCURACY}}
    meters
</strong>
<br/>
{{#Tag}} Source: <strong>{{Tag}}</strong> {{/Tag}}
