{
  "id": "a09405ec",
  "name": "Cadastral Parcels",
  "layers": "Cadastral_Parcels",
  "url": "http://services.ga.gov.au/gis/rest/services/Cadastral_Parcels/MapServer",
  "type": "esri-mapServer",
  "opacity": 1,
  "hideSource": true,
  "featureInfoTemplate" : {
    "template": "Jurisdiction ID: <strong>{{JURISDICTION_ID}}</strong>"
  },
  "dataCustodian": "Geoscience Australia <br/> <a href='mailto:clientservices@ga.gov.au'>clientservices@ga.gov.au</a>",
  "info": [
    {
      "name": "Copyright",
      "content": "©PSMA Australia Limited. <a href='www.psma.com.au/psma-data-copyright-and-disclaimer'>www.psma.com.au/psma-data-copyright-and-disclaimer</a>"
    }
  ],
  <% include ../../common/standard_properties %>,
  <% include ../../common/home_camera_rectangle %>
}
