<h3>{{NAME}}</h3>
<h4>{{OWNER}}</h4>
<p>
    Class: <strong>{{CLASS}}</strong><br>
    Licence No.: <strong>{{LICENCENUMBER}}</strong><br>
    Length: <strong>{{LENGTH_km}}</strong>km<br>
    Diameter(s): <strong>{{DIAMETER_mm}}</strong>mm<br>
    Construction year: <strong>{{CONSTRUCTION}}</strong><br>
    Operational Status: <strong>{{OPERATIONALSTATUS}}</strong><br>
    Revised: <strong>{{REVISED}}</strong>
</p>