<h3>{{NAME}} {{FEATURETYPE}}</h3>

<p><strong>{{OWNER}}</strong><br/>
Status: <strong>{{OPERATIONALSTATUS}}</strong><br/>
<small>
  <style>
    th, td {
        padding-left: 5px;
        padding-right: 5px;
    }
  </style>
  <table>
    <tbody>
      <tr>
        <td>Capacity</td> <td><strong>{{GENERATIONMW}} MW</strong></td>
      </tr>
      <tr>
        <td>Fuel Type</td>
        <td><strong>{{PRIMARYFUELTYPE}}</strong> ({{CLASS}})</td>
      </tr>
      <tr>
        <td>Technology Type</td>
        <td><strong>{{GENERATIONTYPE}}</strong></td>
      </tr>
      <tr>
        <td>Physical Unit No.</td> <td><strong>{{GENERATORNUMBER}}</strong></td>
      </tr>
    </tbody>
  </table>
</small>
