<table>
  <tr>
    <td>Feature:&nbsp;</td> <td><strong>{{FEATURE}}</strong></td>
  </tr>
  <tr>
    <td>Province:&nbsp;</td> <td><strong>{{PROVINCE}}</strong></td>
  </tr>
  <tr>
    <td>Canyon ID:&nbsp;</td> <td><strong>{{CANYON_ID}}</strong></td>
  </tr>
  <tr>
    <td>Area:&nbsp;</td> <td><strong>{{AREA_SQ_KM}} square km</strong></td>
  </tr>
</table>
