<h3>{{NAME}}</h3>
<p>
    Voltage: <strong>{{CAPACITYKV}}kV</strong><br/>
    State: <strong>{{STATE}}</strong><br/>
    Class: <strong>{{CLASS}}</strong><br/>
    Status: <strong>{{OPERATIONALSTATUS}}</strong><br/>
    Date revised: <strong>{{REVISED}}</strong><br/>
    Spatial Confidence: <strong>{{SPATIALCONFIDENCE}}</strong>
</p>
