{
  "id": "b2d1bee0",
  "name": "Native Title Determinations",
  "layers": "ecdbbb6c_c374_4649_9cd3_0677f44182c9",
  "url": "http://data.gov.au/geoserver/native-title-determinations-national-native-title-register/wms",
  "type": "wms",
  "dataUrl": "http://data.gov.au/geoserver/native-title-determinations-national-native-title-register/wfs?service=WFS&request=GetFeature&typeName=native-title-determinations-national-native-title-register%3Aecdbbb6c_c374_4649_9cd3_0677f44182c9&version=1.1.0&outputFormat=JSON&srsName=EPSG%3A4326",
  "dataUrlType": "wfs-complete",
  "dataCustodian": "National Native Title Tribunal <br/> <a href='mailto:geoservices@nntt.gov.au'>geoservices@nntt.gov.au</a>",
  "description": "Determinations of Native Title (as per s. 192 NTA – National Native Title Register)",
  "info": [
    {
      "name": "Licensing, Terms & Conditions",
      "content": "![CC BY 3.0 AU](http://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg) <br/> [Creative Commons BY 3.0 AU](http://creativecommons.org/licenses/by/3.0/au/)"
    }
  ],
  <% include ../../common/home_camera_rectangle %>,
  <% include ../../common/standard_properties %>
}
