<p>Clean Energy Regulator (CER) is the data custodian for Designated Generation Facility data, available on the CER website.</p>

<p>AREMI is displaying the data under CER’s conditions detailed below.</p>

<p>The Clean Energy Regulator has made reasonable efforts to ensure that information contained in the Designated Generation Facility dataset is accurate. However, the use of this data is at the user's risk and the user should take all relevant precautions to protect against loss or damage arising from their use of the data. To the maximum extent permitted by law:</p>

<ol type='a'>
<li>The Clean Energy Regulator makes no representation and gives no warranty of any kind to users, whether express, implied, statutory or otherwise in respect to the availability, accuracy, completeness, currency, quality, reliability or fitness for purpose of the data.</li>

<li>The Clean Energy Regulator's liability to a user for any loss, damage, cost or expense (whether direct or indirect) resulting from use of the data is entirely excluded.</li>
</ol>

<p>Please also see the <a href='http://www.cleanenergyregulator.gov.au/About/Policies-and-publications/Copyright'>Clean Energy Regulator Copyright notice</a>.</p>
