<h3>{{Facility Name}}</h3>
<p><small>{{Reporting Entity}}</small></p>
<p><strong>Emission Intensity:</strong> {{Emission Intensity (t/Mwh)}} t/Mwh</p>

<h4>Emissions <small>(t CO<sub>2</sub>)</small></h4>
<table>
  <tr><td>Scope 1</td>               <td>Scope 2</td>              <td>Total</td>                        </tr>
  <tr><td>{{Scope 1 (t CO2-e)}}</td> <td>{{Scope 2 (t CO2-e)}}</td><td>{{Total Emissions (t CO2-e)}}</td></tr>
</table>

<h4>Electricity Production</h4>
<table>
  <tbody>
    <tr>               <td>GJ</td>                           <td>Mwh</td>                           </tr>
    <tr class='strong'><td>{{Electricity Production (GJ)}}</td><td>{{Electricity Production (Mwh)}}</td></tr>
  </tbody>
</table>
<br/>
<table>
  <tbody>
    <tr><td>Reporting Entity            </td><td class='strong'>{{Reporting Entity}}            </td></tr>
    <tr><td>Grid Connected              </td><td class='strong'>{{Grid Connected}}              </td></tr>
    <tr><td>Grid                        </td><td class='strong'>{{Grid}}                        </td></tr>
    <tr><td>Primary Fuel                </td><td class='strong'>{{Primary Fuel}}                </td></tr>
  </tbody>
</table>
