<h3> Emissions baseline determinations under the National Greenhouse and Energy Reporting (Safeguard Mechanism) Rule 2015</h3>
<br/>
Under the National Greenhouse and Energy Reporting (Safeguard Mechanism) Rule 2015 the Clean Energy Regulator publishes information relating to <a href='http://www.cleanenergyregulator.gov.au/NGER/The-safeguard-mechanism/Baselines'>emissions baseline</a> determinations (also known as safeguard baselines). 
<br/>
This dataset includes information for facilities that have been issued an emissions baseline determination under the <a href='http://www.cleanenergyregulator.gov.au/NGER/The-safeguard-mechanism'>safeguard mechanism</a>. 
<br/>
Please note that inclusion in the dataset does not mean a facility will be covered by the safeguard mechanism - <a href='http://www.cleanenergyregulator.gov.au/NGER/The-safeguard-mechanism/Coverage'>coverage</a> will depend on whether the facility’s covered emissions for the financial year exceed the 100,000 tonne CO2​-e safeguard threshold. Additionally, in the case of designated generation facilities that are connected to a designated electricity network (‘grid-connected electricity generators’), facilities will only be covered once the sectoral baseline has been exceeded.
<br/>
See the <a href='http://www.cleanenergyregulator.gov.au/NGER/National greenhouse and energy reporting data/Safeguard-baselines-table'>Safeguard baselines table</a> page for more information.
