<h3>{{Facility name}}</h3>
<p>
  <small>{{Responsible emitter}}
  <br/>
  Last updated: {{Date last updated}}
  </small>
</p>
<p>
  <strong>Baseline number in force:</strong> {{Baseline number in force}} t CO<sub>2</sub><br/>
  <strong>Type of baseline in force:</strong> {{Type of baseline in force}} <br/>
  <strong>Grid connected generator:</strong> {{Grid-connected generator subject to the sectoral baseline}}<br/>
  <br/>
  <strong>Calculated baseline (if applicable)</strong><br/>
  <strong>Start date:</strong> {{Calculated baseline start date  (if applicable)}} <br/>
  <strong>End date:</strong> {{Calculated baseline end date  (if applicable)}}
</p>


<small>
<strong>Eligibility criteria calculated baseline was made under </strong>
<p>{{Eligibility criteria calculated baseline was made under (if applicable)}}</p>
<strong>Emission reduction measures undertaken/to be undertaken at a facility </strong>
<p>{{Emission reduction measures undertaken/to be undertaken at a facility  (if applicable)}}</p>

<strong>Notes:</strong>
<p>{{Notes}}</p>
</small>