<h3>Postcode {{Postcode}}</h3>
<table>
  <tr>
    <td>Type:&nbsp;</td> <td><%= type %></td>
  </tr>
  <tr>
    <td>Num. Installations:&nbsp;</td> <td>{{Total Installations}}</td>
  </tr>
  <tr>
    <td>Installed Power:&nbsp;</td> <td>{{Total SGU Rated Output In kW}}kW</td>
  </tr>
</table>
