<div style='max-width: 40em'>
  <h3>{{LGA_NAME_2015}}</h3>
  <style type='text/css'>
    table.wa-bio tr td:nth-child(1) {
      white-space: nowrap;
      padding-right: 0.5em;
    }
  </style>
  <p>
    <table class='wa-bio'>

      <tr>
        <td>Straw Yield /Ha Cereal Crop Average over 5 years:</td>
        <td> <strong>{{Straw Yield /Ha Cereal Crop Average over 5 years}}</strong> </td>
      </tr>

      <tr>
        <td>Average Shire Yield of Cereal Residue in Tonnes:</td>
        <td> <strong>{{#terria.formatNumber}}{useGrouping:true}{{Average Shire Yield of Cereal Residue in Tonnes}}{{/terria.formatNumber}}</strong> </td>
      </tr>

    </table>
  </p>
</div>
