Grape marc volumes have been estimated by using a conversion factor from the amounts that are listed as crushed in publicly available documents.  Grape marc volumes from crushed grapes can vary greatly, and a range of13 – 35% has been cited in the literature.  For this data we have used a conversion factor of 20% wet weight based on the following publications (Corbin et al., 2015; Ky and Teissedre, 2015; Mazza and Francis, 1995).
<br>
Crushed grape volumes are reported in broad categories and as a result volumes of grape marc that are actually produced may vary from what is reported. However, data should give a good indication of what is available at each location.
<br>

References:
<br>
<ol>
    <li>Corbin, K.R., Hsieh, Y.S.Y., Betts, N.S., Byrt, C.S., Henderson, M., Stork, J., DeBolt, S., Fincher, G.B.,</li>
    <li>Mazza, G., Francis, F.J., 1995. Anthocyanins in grapes and grape products. Crit. Rev. Food Sci. Nutr. 35, 341-371.</li>
</ol>
