"name": "National Energy Analytics Research (NEAR) Program",
"type": "group",
"info": [
  {
    "name": "NEAR Program Overview",
    "content": 
    "
    <p>
    The <a href=https://near.csiro.au>NEAR Program </a>
    is focussed on bringing together energy datasets from across the Australian energy sector and delivering a comprehensive research program focussed on what drives and shapes Australian energy consumption behaviour, from individual households and businesses to our national energy use trends. The team behind NEAR curates public data assets, works with data holders to release previously private data, deploys cutting-edge data science techniques to expand the value of existing data, and leads brand new data collection and research efforts to fill critical gaps for the energy sector. We collaborate with industry, science and government organisations, and engage with the Australian people to deliver a diverse collection of assets that will inform future Australian decision making across the sector.
  
    <p>
    NEAR is funded by the Commonwealth Department of the Environment and Energy (DEE) and delivered by Australia’s national science agency, the Commonwealth Scientific and Industrial Research Organisation (CSIRO).</p>
    "
  },
  {
    "name": "NEAR Workflow",
    "content": "<img style='float:center; width: 100%' align='middle' alt='NEAR Workflow Graphic' src='https://near.csiro.au/public/aremi/graphics/NEAR_Infographic.jpg'/>"
  }
],
"items": [
  <% include energise/energise_catalogue %>,
  <% include dnsp_zs/dnsp_catalogue %>
]
