<img style='float:right; width: 40%; max-width: 407px' src='http://static.aremi.nicta.com.au/datasets/dance/2016/ISF_Logo_Colour_90dpi_web.png'/>
<p>Annual Deferral Value (expressed in $/kVA/year) is the planned investments that are potentially deferrable, noting that many replacement investments are not nominated as deferrable, In addition, the amount of network support (in MVA) from demand management or renewable energy required in a given year to achieve a successful deferral is calculated.</p>
<p>Annual Deferral Value shows the effective cost of addressing upcoming network constraints through the preferred network solution. This annual value can be thought of as an upper bound to the amount that the network could invest in equivalent non-network options (such as demand management or distributed generation) to alleviate a constraint for that year. If less than this upper bound is spent addressing the constraint using non-network options, then overall the cost to network service providers and consumers is lower.</p>
<p>Annual Deferral Values are indicative estimates which are subject to change as circumstances change, options are developed and more detailed investigation is done. <strong>Annual Deferral Values are not what the Network Service Provider is willing to pay for demand management support.</strong> Refer to the Network Service Provider’s Demand Side Engagement Document for details on how they assess non-network solutions and determine payment levels.</p>
<p>Areas in white are those with no deferral value. Areas in light yellow and brown are those with limited deferral value where very low cost demand management options may be viable. Annual deferral value increases strongly in the red to purple areas (&gt;$400/kVA/yr).</p>
<p>Annual deferral value is calculated by determining the annualised value of deferring the network solution (avoided depreciation and interest paid on capital), and dividing this by the amount of network support (in kVA) that would be required in that year to achieve the deferral. Note that while the $/kVA/yr figure shown is a marginal value (i.e. for each kVA of capacity supplied), a whole year’s the demand growth is generally required in network support to enable a successful deferral to be achieved. That is, a sufficiently large quantum of network support is required.</p>
<p>From the investment year onwards the ADV shrinks if load growth is forecast to continue, as the amount of support required continues to increase, but the annualised value of depreciation and cost of capital remain unchanged. As such, the most lucrative time to invest in demand management tends to be the year of proposed investment.</p>
<p>When the user clicks on the distribution feeder region, a range of additional information is shown in a pop up information box. An explanation of the additional information is given below:</p>
<ul>
<li><p><strong>Network:</strong> Name of the Network Service Provider that manages the asset.</p></li>
<li><p><strong>Asset name:</strong> Full name of the network asset.</p></li>
<li><p><strong>Asset type:</strong> Type of network asset according with the following definitions:</p>
<ul>
<li><p><strong>Transmission Line:</strong> High voltage power lines (including switching stations) built and operated by the transmission network service provider.</p></li>
<li><p><strong>Transmission Terminal Station:</strong> High voltage transformation substation built and operated by transmission network service provider.</p></li>
<li><p><strong>Sub transmission line:</strong> Subtransmission power line connecting transmission station and zone substation assets generally built and operated by distribution network service providers.</p></li>
<li><p><strong>Sub transmission Substation:</strong> Transformation substation at the subtransmission voltage levels built and operated by transmission network service providers.</p></li>
<li><p><strong>Distribution Zone Substation:</strong> Transformation substation typically (but not exclusively) converting voltage to 11kV on the low voltage side, built and operated by distribution network service providers.</p></li>
</ul></li>
<li><p><strong>Annual deferral pool ($m/yr):</strong> Total annualised amount of the investment (after applying capital costs and depreciation factors) that can be potentially deferred for a year.</p></li>
<li><p><strong>Available to DM providers (%):</strong> Maximum percentage of the potentially deferrable investment that could be made available to non-network service providers. This may vary by network business and specific project, according to factors such as the size of contracting overheads, or comparative risk profiles of suitable network and non-network options.</p></li>
<li><p><strong>Investment year:</strong> Financial year when the investment takes place. Where investment takes place over multiple years, this field shows the first year in which the investment takes place.</p></li>
<li><p><strong>Total investment value (m$):</strong> Total value of proposed network investment for the network asset.</p></li>
<li><p><strong>Deferrable investment</strong> <strong>(m$):</strong> Amount of the total investment value that is potentially deferrable through the deployment of non-network options.</p></li>
<li><p><strong>Constraint Season(s):</strong> Primary season of constraint driving network investment (Summer, Winter, Spring and/or Autumn).</p></li>
<li><p><strong>Notes:</strong> Additional information on the proposed investment.</p></li>
<li><p><strong>Average demand growth Rate:</strong> Average demand growth rate between the current year and ten more years in MVA/year.</p></li>
<li><p><strong>Reactive Support Requirement:</strong> Any support required for the asset in the form of reactive power indicated by the network business.</p></li>
</ul>
<blockquote>
<p>The table and chart show the support required in MVA that would be needed to defer the proposed investment in one year.</p>
</blockquote>
<ul>
<li><p><strong>Annual Deferral Value in 20XX (ADV ($/kVA/yr)):</strong> Maximum value to the network of deferring the construction of the network asset for a year.</p></li>
<li><p><strong>Network support required in 20XX:</strong> Support required in MVA that would be needed to defer the proposed investment for that year.</p></li>
</ul>