<div class='feature-info-panel-section-content-group'>

<table class='feature-info-panel-section-content-kv-table'><tbody><tr><td class='feature-info-panel-section-content-kv-table-key'>Short name               </td><td class='feature-info-panel-section-content-kv-table-value'>{{Short_name}}</td></tr></tbody></table>
<table class='feature-info-panel-section-content-kv-table'><tbody><tr><td class='feature-info-panel-section-content-kv-table-key'>Asset type               </td><td class='feature-info-panel-section-content-kv-table-value'>{{Asset_type}}</td></tr></tbody></table>
<table class='feature-info-panel-section-content-kv-table'><tbody><tr><td class='feature-info-panel-section-content-kv-table-key'>Network                  </td><td class='feature-info-panel-section-content-kv-table-value'>{{Network}}</td></tr></tbody></table>
{{#Constraint_season}}
<table class='feature-info-panel-section-content-kv-table'><tbody><tr><td class='feature-info-panel-section-content-kv-table-key'>Constraint season(s)        </td><td class='feature-info-panel-section-content-kv-table-value'>{{Constraint_season}}</td></tr></tbody></table>
{{/Constraint_season}}
<table class='feature-info-panel-section-content-kv-table'><tbody><tr><td class='feature-info-panel-section-content-kv-table-key'>Average demand growth rate (MVA/yr)</td><td class='feature-info-panel-section-content-kv-table-value'>{{Average_demand_growth}}</td></tr></tbody></table>
{{#Proposed_investment_year: }}
<table class='feature-info-panel-section-content-kv-table'><tbody><tr><td class='feature-info-panel-section-content-kv-table-key'>Proposed investment year </td><td class='feature-info-panel-section-content-kv-table-value'>{{Proposed_investment_year: }}</td></tr></tbody></table>
{{/Proposed_investment_year: }}

<table class='feature-info-panel-section-pivot-table'>
    <tbody>
        <tr>
            <td>Year</td>
            <td>Available Capacity</td>
        </tr>
{{#availcapinfo}}
        <tr>
            <td>{{Year}}</td>
            <td>{{Availcap}}</td>
        </tr>
{{/availcapinfo}}
    </tbody>
</table>
<a href='{{NSP_info_link}}'>NSP demand management information</a><br>
<a href='{{Link_to_download}}'>Download data in spreadsheet format</a>
</div>