This is a map of ‘firm substation capacity’ (determined by the local reliability criteria), minus the forecast peak demand at the Zone Substation level. Data mapped is for the relevant critical peak season (summer or winter) at each Zone Substation. Where a constraint occurs in both seasons, the season with the largest capacity shortfall over the time horizon is mapped.

<p>This map allows the user to see the progression of load growth relative to distribution zone substation capacity over time, and understand areas of emerging capacity-related constraint. Note that capacity constraints may exist at upstream or downstream of the zone substation and as such this map provides an indicative ‘slice’ of the capacity situation through one level of the network. Also note that these images show available capacity before network or non-network options are taken to alleviate constraints, and before load transfer capability between adjacent zones has been taken into account.

<p>This map does NOT show:

<ul>
    <li>Areas facing power outage</li>
    <li>The capacity of the network to accept the connection of embedded or distributed generators</li>
</ul>

<p>The green and yellow colours indicate a period when zones that have sufficient spare capacity (available capacity is around or above zero), while the orange and red colours (where available capacity is below zero) indicate periods where zones facing capacity-related constraints where investment will be needed to ensure reliability is maintained.

<p>Polygons shown are approximate Zone Substation service regions. Clicking on a specific region will reveal the details of that location and time period, including the season of constraint and the exact available capacity value for each year. <p>When the user clicks on the distribution zone substation region, a range of additional information is shown in a pop up information box. An explanation of the additional information is given below:

<ul>
    <li><strong>Short name:</strong> Shorthand code used by network businesses to refer to the asset.</li>
    <li><strong>Asset Type:</strong> Type of the network asset. Data presented in this layer is only for the Distribution Zone Substation level, which carries the following definition:
        <ul>
            <li><strong>Distribution Zone Substation (ZS):</strong> Transformation substation typically (but not exclusively) converting voltage to 11kV on the low voltage side, built and operated by distribution network service providers.</li>
        </ul>
    </li>
    <li><strong>Network:</strong> Name of the Network Service Provider manages the asset.</li>
    <li><strong>Constraint Season(s):</strong> Primary season of constraint driving network investment (Summer, Winter, Spring and/or Autumn).</li>
    <li><strong>Average demand growth rate (MVA/yr):</strong> Average demand growth rate for the asset over the 10-year horizon.</li>
    <li><strong>Proposed investment year:</strong> Year when the proposed network investment will take place (financial year ending). Where investment will take place over multiple years, this corresponds only to the first year in which investment will take place.</li>
    <li><strong>Notes:</strong> Additional information and caveats useful for data interpretation.</li>
</ul>
