Augmentation investments in the network are undertaken to avoid peak demand reaching the capacity of network infrastructure. However, the peak demand of a network asset generally occurs only a few hours a year and hence it is useful to show the timing and magnitude of the constrained hours on the peak day.

<p>This map layer shows the available capacity (as a % of asset capacity) for each hour of the peak day in the lowest level of the network each area with potentially deferrable investment. That is, if the zone substation has deferrable value then the zone exceedance situation is mapped, while if the only deferrable value is at the transmission level, the transmission exceedance situation is mapped.

<p>A value &gt; 0% represents spare capacity, while a value &lt; 0% represents an exceedance.

<p>Note that the critical season (summer or winter) and year of investment (2016-2025) is different for each constraint area. As such, the peak day data mapped for each area is for the planned investment year* and the relevant peak season. This means that winter peaking zones may be more likely to show exceedance early and late in the day, and summer peaking zones to show value during the middle of the day and afternoon.

<p>In the additional information (when a polygon is clicked), the exact exceedance values are shown both in MVA and MWh.

<p>* If the first year that support is required is after the investment year, then the exceedance for this year is mapped.

<p>When the user clicks on the distribution feeder region, a range of additional information is shown in a pop up information box. An explanation of the additional information is given below:

<ul>
    <li><strong>Asset name:</strong> Full name of the network asset.</li>
    <li><strong>Short name:</strong> Shorthand code used by network businesses to refer to the asset.</li>
    <li><strong>Asset type:</strong> Type of network asset according with the following definitions:
        <ul>
            <li><strong>Transmission Line:</strong> High voltage power lines (including switching stations) built and operated by the transmission network service provider.</li>
            <li><strong>Transmission Terminal Station:</strong> High voltage transformation substation built and operated by transmission network service provider.</li>
            <li><strong>Sub transmission line:</strong> Subtransmission power line connecting transmission station and zone substation assets generally built and operated by distribution network service providers.</li>
            <li><strong>Sub transmission Substation:</strong> Transformation substation at the subtransmission voltage levels built and operated by transmission network service providers.</li>
            <li><strong>Distribution Zone Substation:</strong> Transformation substation typically (but not exclusively) converting voltage to 11kV on the low voltage side, built and operated by distribution network service providers.</li>
        </ul>
    </li>
    <li><strong>Network:</strong> Name of the Network Service Provider that manages the asset.</li>
    <li><strong>Constraint Season(s):</strong> Primary season of constraint driving network investment (Summer, Winter, Spring and/or Autumn).</li>
    <li><strong>Proposed investment year:</strong> Financial year when the investment takes place. Where investment takes place over multiple years, this field shows the first year in which the investment takes place.</li>
    <li><strong>Asset capacity (MVA):</strong> Maximum capacity at which the NSP is comfortable operating the network asset over the coming 10-year period. This may be the secure capacity, the nameplate capacity, or some other customisable level that could change year on year.</li>
    <li><strong>Mapped year:</strong> Year shown in the map which coincides with the planned year of investment.</li>
    <li><strong>Maximum capacity exceedance in mapped year (MVA):</strong> Maximum capacity exceedance in the constrained asset expected for the mapped year.</li>
    <li><strong>MWh exceedance in mapped year (MWh):</strong> Total forecast energy exceedance in MWh for the mapped year.</li>
    <li><strong>Available capacity (MVA):</strong> Hourly available capacity in MVA for the peak day in the mapped year.</li>
    <li><strong>Available capacity (% of capacity):</strong> Hourly available capacity as a percentage of the asset capacity for the mapped year peak day.</li>
    <li><strong>Hourly exceedance share (% of total annual exceedance):</strong> Hourly energy exceedance as a percentage of the total energy exceedance for the mapped year. This provides an indication of how dominant the peak day exceedance situation is relative to other days of the year.</li>
</ul>

<p>NOTE:

<ul>
    <li>The above data is repeated for other constrained assets at higher levels of the network (where data is available)</li>
    <li>Peak day hourly data supplied is generally raw, unchecked and uncorrected for load transfers that occurred during the period. Anomalies may exist.</li>
</ul>
