<div class='feature-info-panel-section-content-group feature-info-panel-section-content-kv-table'>
<table><tr><td>Short name                                             </td><td>{{Short_name}}               </td> </tr></table>
<table><tr><td>Asset_type                                             </td><td>{{Asset_type}}               </td> </tr></table>
<table><tr><td>Network                                                </td><td>{{Network}}                  </td> </tr></table>
<table><tr><td>Augmentation investment (m$)                           </td><td>{{Augmentation}}             </td> </tr></table>
<table><tr><td>Replacement/refurbishment investment (m$)              </td><td>{{Replacement/refurbishment}}</td> </tr></table>
<table><tr><td>Connections investment (m$)                            </td><td>{{Connections}}              </td> </tr></table>
<table><tr><td>OPEX investment (m$)                                   </td><td>{{OPEX}}                     </td> </tr></table>
<table><tr><td>Other investment (m$)                                  </td><td>{{Other investment}}         </td> </tr></table>
<table><tr><td>Total investment (m$)                                  </td><td>{{Total_investment}}         </td> </tr></table>
<table><tr><td>Deferrable amount (m$)                                 </td><td>{{Deferrable_amount}}        </td> </tr></table>
<table><tr><td>Proposed investment year                               </td><td>{{Proposed_investment_year}} </td> </tr></table>
<table><tr><td>Constraint season(s)                                   </td><td>{{Constraint_season}}        </td> </tr></table>
<table><tr><td>Note                                                   </td><td>                             </td> </tr></table>
<table><tr><td>                                                       </td><td>{{probtext}}                 </td> </tr></table>
<table><tr><td>Annual deferral pool (m$/yr)                           </td><td>{{Annual_deferral}}          </td> </tr></table>
<table><tr><td>Percent avail. to DM providers (%)                     </td><td>{{Percent_avail_to_DM}}      </td> </tr></table>
<table><tr><td>Potential NPV of 10yr deferral in yr of investment (m$)</td><td>{{Potential_NPV}}            </td> </tr></table>
<table><tr><td>Average demand growth rate (MVA/yr)                    </td><td>{{Average_demand_growth}}    </td> </tr></table>
<table><tr><td>Reactive support requirements                          </td><td>{{Reactive_support}}         </td> </tr></table>

<table class='feature-info-panel-section-pivot-table'>
    <tr>
        <td>Year</td>
        <td>Network Support</td>
    </tr>
{{#Inv}}
    <tr>
        <td>{{Year}}</td>
        <td>{{Network_support}}</td>
    </tr>
{{/Inv}}
</table>

<a href='{{NSP_info_link}}'>NSP demand management information</a><br>
<a href='{{Link_to_download}}'>Download data in spreadsheet format</a>
</div>