<h4>{{Name}}</h4>
<h5>{{Network}}</h5>

Annual_deferral: <strong>{{Annual_deferral}}</strong><br/>
Asset_type: <strong>{{Asset_type}}</strong><br/>
Augmentation: <strong>{{Augmentation}}</strong><br/>
Average_demand_growth: <strong>{{Average_demand_growth}}</strong><br/>
Connections: <strong>{{Connections}}</strong><br/>
Constraint_season: <strong>{{Constraint_season}}</strong><br/>
Deferrable_amount: <strong>{{Deferrable_amount}}</strong><br/>
Name: <strong>{{Name}}</strong><br/>
Network: <strong>{{Network}}</strong><br/>
OPEX: <strong>{{OPEX}}</strong><br/>
Other: <strong>{{Other investment}}</strong><br/>
Percent_avail_to_DM: <strong>{{Percent_avail_to_DM}}</strong><br/>
Potential_NPV: <strong>{{Potential_NPV}}</strong><br/>
Proposed_investment_year: <strong>{{Proposed_investment_year}}</strong><br/>
Reactive_support: <strong>{{Reactive_support}}</strong><br/>
Replacement: <strong>{{Replacement/refurbishment}}</strong><br/>
Short_name: <strong>{{Short_name}}</strong><br/>
Total_investment: <strong>{{Total_investment}}</strong><br/>
probtext: <strong>{{probtext}}</strong><br/>