This layer shows the location of network investment currently planned to occur over the period 2016 to 2025. Depending on the Network Service Provider, this generally includes augmentation investment, but may also include the following investment categories: replacement/refurbishment connections, other capital investment, and major opex. Where a project investment is committed, figures shown in the table do not reflect the reduction in risk due to committed project.

<p>The size of the circle at a given location reflects the magnitude of the investment, and the colour reflects the timing of the investment. Red circles indicate investments that may already be committed, while green circles represent investments planned to occur closer to 2025.

<p>Selecting a circle reveals information on the value and cause of the network investment, and how much of the investment is potentially deferrable. An explanation of the additional information is given below:

<ul>
    <li><strong>Short name:</strong> Shorthand code used by network businesses to refer to the asset.</li>
    <li><strong>Asset type:</strong> Type of network asset according with the following definitions:
        <ul>
            <li><strong>Transmission Line:</strong> High voltage power lines (including switching stations) built and operated by the transmission network service provider.</li>
            <li><strong>Transmission Terminal Station:</strong> High voltage transformation substation built and operated by transmission network service provider.</li>
            <li><strong>Sub transmission line:</strong> Subtransmission power line connecting transmission station and zone substation assets generally built and operated by distribution network service providers.</li>
            <li><strong>Sub transmission Substation:</strong> Transformation substation at the subtransmission voltage levels built and operated by transmission network service providers.</li>
            <li><strong>Distribution Zone Substation:</strong> Transformation substation typically (but not exclusively) converting voltage to 11kV on the low voltage side, built and operated by distribution network service providers.</li>
        </ul>
    </li>
    <li><strong>Network:</strong> Name of the Network Service Provider that manages the asset.</li>
    <li><strong>Augmentation invest (m$):</strong> Value of proposed network investment for each network asset, with \"Augmentation\" as the investment driver (demand growth related).</li>
    <li><strong>Replacement/refurbishment invest (m$):</strong> Value of proposed network investment for each network asset, with \"Replacement/Refurbishment\" as the investment driver (age/condition related).</li>
    <li><strong>Connections invest (m$):</strong> Value of proposed network investment for each network asset, with \"Connections\" as the investment driver.</li>
    <li><strong>OPEX invest (m$):</strong> Value of major, potentially deferrable, proposed operating expenditure (OPEX) for network assets. The value supplied is the estimated value of the preferred OPEX solution, and is aggregated into a single value for the investment year.</li>
    <li><strong>Other invest (m$):</strong> Value of proposed network investment for each network asset, for investment that falls into any category apart from the above 4 categories.</li>
    <li><strong>Total investment value (m$):</strong> Total value of proposed network investment for the network asset.</li>
    <li><strong>Deferrable amount (m$):</strong> Amount of the total investment value that is potentially deferrable through the deployment of non-network options.</li>
    <li><strong>Proposed investment year:</strong> Year when the proposed network investment will take place (financial year ending). Where investment will take place over multiple years, this corresponds only to the first year in which investment will take place.</li>
    <li><strong>Constraint Season(s):</strong> Primary season of constraint driving network investment (Summer, Winter, Spring and/or Autumn).</li>
    <li><strong>Notes:</strong> Additional information on the proposed investment.</li>
    <li><strong>Annual deferral pool ($m/yr):</strong> Total annualised amount of the investment (after applying capital costs and depreciation factors) that can be potentially deferred for a year.</li>
    <li><strong>Available to DM providers (%):</strong> Maximum percentage of the potentially deferrable investment that could be made available to non-network service providers. This may vary by network business and specific project, according to factors such as the size of contracting overheads, or comparative risk profiles of suitable network and non-network options.</li>
    <li><strong>Potential NPV of 10yr deferral in yr of investment (m$):</strong> Potential net present value (NPV) if the investment is deferred for 10 years from the year of proposed investment.</li>
    <li><strong>Average demand growth rate (MVA/yr):</strong> Average demand growth rate for the asset over the 10-year horizon.</li>
    <li><strong>Reactive Support Requirement:</strong> Any support required for the asset in the form of reactive power indicated by the network business.</li>
    <li><strong>Network support required in 20XX:</strong> Support required in MVA that would be needed to defer the proposed investment in one year.</li>
</ul>
