<a href='http://www.abs.gov.au/'>Australian Bureau of Statistics</a>
<p>
The ABS is Australia’s national statistical agency, providing trusted official statistics on a wide range of economic, social, population and environmental matters of importance to Australia.
<p>
We also have an important leadership role, coordinating statistical activities and collaborating with official bodies in the collection, compilation, analysis and distribution of statistics. This assists in maximising the value of government investment on these activities, and ensures outputs are fit-for-purpose.
<p>
By doing these things, we aim to inform decisions on important issues. We expect this will lead to a more informed community; more efficient markets, economic growth and productivity enhancements; better policy development and evaluation; and targeted and more efficient service delivery.
