{
  "name": "Description",
  "content": "This product presents summary information collected from the 2012 Household Energy Consumption Survey (HECS) and the Business Survey of Residential Electricity Distribution (BSRED), Experimental Estimates conducted by the Australian Bureau of Statistics.<br/>The HECS collected information on household energy expenditure, consumption, behaviours, perceptions and other characteristics related to household energy use. Information is presented across key items of interest and also features longitudinal analysis on household energy efficient improvements. <h4>Rounding</h4> Where figures have been rounded, discrepancies may occur between sums of the component items and totals. Published percentages are calculated prior to rounding of the figures and therefore some discrepancy may exist between these percentages and those that could be calculated from the rounded figures. <h4>Inquiries</h4> For further information about these and related statistics, contact the National Information and Referral Service on 1300 135 070 or the Living Conditions Client Services team on Canberra (02) 6252 6174 or by emailing <a href='mailto:living.conditions@abs.gov.au'>living.conditions@abs.gov.au</a>.<br><br>
  Australian Bureau of Statistics 2012, <em>Household Energy Consumption Survey, Australia: Summary of Results, 2012</em>, 'BSREDEE - Electricity Supply - Net Meters - 2010, 2011, 2012', data cube: Excel spreadsheet, cat. no. 4670.0, viewed 14 July 2016, &lt;http://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/4670.02012?OpenDocument&gt;"
},
{
  "name": "Custodian",
  "content": "<h4>Australian Bureau of Statistics</h4>The ABS is Australia’s national statistical agency, providing trusted official statistics on a wide range of economic, social, population and environmental matters of importance to Australia.<br><br>

   We also have an important leadership role, coordinating statistical activities and collaborating with official bodies in the collection, compilation, analysis and distribution of statistics. This assists in maximising the value of government investment on these activities, and ensures outputs are fit-for-purpose.<br><br>

   By doing these things, we aim to inform decisions on important issues. We expect this will lead to a more informed community; more efficient markets, economic growth and productivity enhancements; better policy development and evaluation; and targeted and more efficient service delivery."
},
{
    "name": "Licensing",
    "content": "This data is licensed under a Creative Commons [Attribution 2.5 Australia](http://creativecommons.org/licenses/by/2.5/au/) licence"
}