
<p>
<img float:left; src='https://i.creativecommons.org/l/by/4.0/80x15.png'/> You may use the Content for any lawful purpose subject to the Creative Commons Attribution 4.0 International license. Please include the following attribution: 
</p>
<p>
&quotData provided by CSIRO, as collected through the CSIRO Energise app and catalogued through the National Energy Analytics Research (NEAR) Program&quot.
</p>
