{
  "name": "CSIRO Energise Surveys",
  "type": "group",
  "preserveOrder": true,
  "items": [
    <% include energise_demographics_metadata %>
    <% include energise_building_characteristics_metadata %>
    <% include energise_staying_warm_metadata %>
    <% include energise_household_bills_metadata %>
  ],
  "info": [
    {
      "name": "CSIRO Energise Overview",
      "content": "
      <div> 
        <img style='float:right; width:100%; max-width:400px; padding:5px;' src='https://near.csiro.au/public/aremi/graphics/EnergiseApp_Female_Landscape.jpg'/>
        <p>
        Here we present an ongoing series of result snapshots from surveys delivered through the CSIRO Energise mobile app.</p>
        <p>
        The <a href=https://www.csiro.au/en/Showcase/CSIRO-Energise>CSIRO Energise</a> app enables on-demand, near-real-time delivery and capture of surveys through a user-friendly interface, and has been specifically developed to allow Australian households to contribute to national energy research through responses to micro-surveys on topics related to household energy behaviour and sentiment. </p>
        <p> 
        For further information on CSIRO Energise, visit <a href=https://www.csiro.au/en/Showcase/CSIRO-Energise>CSIRO Energise</a> or <a href=https://ws.energise.csiro.au> download it</a> from your favourite app store today.</p>   
      </div>
      "
    }
  ]
}
