<h3>DNI: <strong>{{GRAY_INDEX}} W/m&#178;</h3>

<chart
    title='DNI ({{#terria.formatNumber}}{maximumFractionDigits:3}{{terria.coords.latitude}}{{/terria.formatNumber}},{{#terria.formatNumber}}{maximumFractionDigits:3}{{terria.coords.longitude}}{{/terria.formatNumber}})'
    sources='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-01-07T23:00:00%2B1000,http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-12-31T23:00:00%2B1000'
    source-names='1-7 Jan 2014,2014'
    downloads='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-12-31T23:00:00%2B1000,http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'
    download-names='2014, 1990-2015'
    preview-x-label='DNI sample'
    column-names='UTC Time,DNI'
    column-units='Date,W/m&#178;'>
</chart>

<p>Download 25 year DNI hourly timeseries for this point: <strong><a href='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'>1990 - 2015 (CSV)</a></strong>
</p>

<h3>GHI</h3>
<chart
    title='GHI ({{#terria.formatNumber}}{maximumFractionDigits:3}{{terria.coords.latitude}}{{/terria.formatNumber}},{{#terria.formatNumber}}{maximumFractionDigits:3}{{terria.coords.longitude}}{{/terria.formatNumber}})'
    sources='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/GHI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-01-07T23:00:00%2B1000,http://services.aremi.nationalmap.gov.au/solar-satellite/v1/GHI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-12-31T23:00:00%2B1000'
    source-names='1-7 Jan 2014,2014'
    downloads='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/GHI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-12-31T23:00:00%2B1000,http://services.aremi.nationalmap.gov.au/solar-satellite/v1/GHI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'
    download-names='2014, 1990-2015'
    preview-x-label='GHI sample'
    column-names='UTC Time,GHI'
    column-units='Date,W/m&#178;'>
</chart>

<p>Download 25 year GHI hourly timeseries for this point: <strong><a href='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/GHI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'>1990 - 2015 (CSV)</a></strong>
</p>
