DNI: <strong>{{GRAY_INDEX}} W/m&#178;</strong>
<p>
Download hourly DNI timeseries for this point as a CSV file:
<p>
&nbsp;&nbsp;<strong><a href='http://services.aremi.nicta.com.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&amp;end=2014-12-31T23:00:00%2B1000'>2014 only</a></strong>
<p>
&nbsp;&nbsp;<strong><a href='http://services.aremi.nicta.com.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'>1990 - 2015</a></strong>
