No updates to the SSHO data to incorporate more recent One Minute Solar source data are currently planned.
<p>
As the aremi-tmy tool develops, the source data may be re-processed using newer versions. The current data available on AREMI was processed using aremi-tmy version 0.1.0.0.
<p>
Should AREMI users want to source the raw data with the latest updates, they should contact the Bureau of Meteorology – Climate Information Services:
<p>
<a href='http://www.bom.gov.au/climate/data-services/'>http://www.bom.gov.au/climate/data-services/</a>
<p>
A list of charges is available here:
<p>
<a href='http://www.bom.gov.au/climate/data-services/charges.shtml'>http://www.bom.gov.au/climate/data-services/charges.shtml</a>
<p>
Alternatively, data can be freely downloaded per month, per station, by registering here:
<p>
<a href='http://www.bom.gov.au/climate/data/oneminsolar/solar_user_reg.shtml'>http://www.bom.gov.au/climate/data/oneminsolar/solar_user_reg.shtml</a>
<p>
The Bureau of Meteorology offers users the option to subscribe to an <a href='http://www.bom.gov.au/climate/rss/one_min_solar.rss'>RSS</a> feed for notifications on the One Minute Solar data updates.
