DNI: <strong>{{GRAY_INDEX}} W/m&#178;</strong>
<p>
<chart
    sources='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&end=2014-12-31T23:00:00%2B1000,http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'
    source-names='2014,1990-2015'
    preview-x-label='DNI'
    column-names='UTC Time,DNI'
    column-units='Date,DNI'>
</chart>
<p>
Download hourly DNI timeseries for the clicked point as a CSV file:
<p>
&nbsp;&nbsp;<strong><a href='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}?start=2014-01-01T00:00:00%2B1000&amp;end=2014-12-31T23:00:00%2B1000'>2014 only</a></strong>
<p>
&nbsp;&nbsp;<strong><a href='http://services.aremi.nationalmap.gov.au/solar-satellite/v1/DNI/{{terria.coords.latitude}}/{{terria.coords.longitude}}'>1990 - 2015</a></strong>
