The Bureau Australian Hourly Solar Irradiance Gridded Data includes DNI and GHI data from satellite observations.
<p>
Hourly Solar Irradiance Gridded Data is not based on a real-time product. Data is processed by the Bureau of Meteorology nominally at 3 monthly intervals.
<p>
The Bureau of Meteorology does not endorse the derivative data or visualisations available on the AREMI website.
<p>
Detailed information about the
Hourly Solar Irradiance Gridded Data is available here:
<p>
<a href='http://www.bom.gov.au/climate/how/newproducts/IDCJAD0111.shtml'>http://www.bom.gov.au/climate/how/newproducts/IDCJAD0111.shtml</a>
<p>
Should AREMI users want to source the raw
Hourly Solar Irradiance Gridded Data with the latest updates, they should contact the Bureau of Meteorology – Climate Information Services:
<p>
<a href='http://www.bom.gov.au/climate/data-services/'>http://www.bom.gov.au/climate/data-services/</a>
<p>
A list of charges is available here:
<p>
<a href='http://www.bom.gov.au/climate/data-services/charges.shtml'>http://www.bom.gov.au/climate/data-services/charges.shtml</a>
