The visualisation of One Minute Solar Observations data on the AREMI platform is attributed to the Commonwealth of Australia acting through the Bureau of Meteorology.
<p>
The Bureau of Meteorology grants NICTA a non-transferable, non-exclusive licence to make the SSHO data (derived from the Bureau of meteorology One minute solar observation data) available on the AREMI platform.
<p>
If visitors of the AREMI website are interested in sourcing the one minute solar observation source data from which the SSHO data is derived, they should contact the Bureau of Meteorology directly via:
<p>
<a href='http://www.bom.gov.au/climate/data-services/data-requests.shtml'>http://www.bom.gov.au/climate/data-services/data-requests.shtml</a>
<p>
Below is an extract from ‘Bureau Access Agreement Covering External Party Usage of Bureau Information’ – Access Agreement between the Commonwealth of Australia acting through the Bureau of Meteorology (the “Bureau”) and the User (NICTA).
<p>
<em>
1.1 The Bureau grants NICTA, in respect of the data and information made available by the Bureau to NICTA for AREMI project, a non-transferable, non-exclusive licence to:
<p>
 (b) supply the Information to third parties where it is incorporated as part of a User product on the terms and conditions set out in this Agreement.
<p>
1.2 The User (i.e. NICTA) must not supply the Information to third parties as is, except as part of a User product (i.e. in this case, AREMI visualisation platform). Where a third party (i.e. AREMI user) requests access to the Information itself, the User must advise the third party to contact the Bureau for the purpose of obtaining the Information directly from the Bureau.
</em>
