The Bureau One Minute Solar data includes a range of solar statistics, including global, diffuse, direct and terrestrial irradiance and sunshine-seconds.
<p>
One Minute Solar data is not based on a real-time product. Data is processed by the Bureau of Meteorology nominally at one to two monthly intervals.
<p>
The Bureau of Meteorology has been measuring a range of solar parameters for several decades. The development of a new high quality observation system, which first became operational in 1993, has facilitated the measurement of one minute solar statistics. Data have been recorded at 29 locations, however not all stations have this data visualisation, nor data for the entire period since 1993.
<p>
The Bureau of Meteorology does not endorse the derivative data or visualisations available on the AREMI website.
<p>
Detailed information about the One Minute Solar data, including a list of the observation stations, is available here:
<p>
<a href='http://www.bom.gov.au/climate/data/oneminsolar/about-IDCJAC0022.shtml'>http://www.bom.gov.au/climate/data/oneminsolar/about-IDCJAC0022.shtml</a>
<p>
Should AREMI users want to source the raw One Minute Solar data with the latest updates, they should contact the Bureau of Meteorology – Climate Information Services:
<p>
<a href='http://www.bom.gov.au/climate/data-services/'>http://www.bom.gov.au/climate/data-services/</a>
<p>
A list of charges is available here:
<p>
<a href='http://www.bom.gov.au/climate/data-services/charges.shtml'>http://www.bom.gov.au/climate/data-services/charges.shtml</a>
