<div style='max-width: 40em'>
  <h3><a href='{{link}}'>{{title}}</a></h3>
  <h4>{{lead-organisation}}</h4>

  <p>{{{abstract}}}</p>
  <p>Technology: <strong>{{Technology}}</strong></p>
  <p>Project value: <strong>${{Project value ($)}}</strong></p>
  <p>ARENA Funding: <strong>${{ARENA Funding (%)}}</strong></p>
  <p>Start date: <strong>{{startdate}}</strong></p>
  {{#finishdate}}
    <p>Finish date: <strong>{{finishdate}}</strong></p>
  {{/finishdate}}
  {{#finishdate-additional-information}}
    <p>Finish information: <strong>{{finishdate-additional-information}}</strong></p>
  {{/finishdate-additional-information}}
</div>
