The publication of the Digital Earth Australia (DEA) Landsat data on NationalMap is the result of the 12 month collaborative project “TerriaCube” between the National Computation Infrastructure (NCI), Geoscience Australia, Department of the Environment and Energy (DoEE) and CSIRO Land & Water and Data61 teams.

<p>Each stakeholder contribution was essential for the project’s success: the NCI developed the data services; Geoscience Australia provided the data; Department of Environment and CSIRO Land and Water, provided insights and the user stories; and CSIRO Data61 provided the software development of terriaJS.</p>

<p>The project aimed to enable access to the DEA satellite imagery data managed by the NCI on NationalMap; and built functionalities in terriaJS to allow users to easily interact with the data. The project results were twofold:

<ol>
<li>users have now access to terrain corrected surface reflectance from Landsat 5, 7 and 8 presented as true colour and false colour composites and</li>
<li>all applications using the open source terriaJS have the “screen splitter” and “date picker” functionalities developed, allowing users to make comparisons of imagery for different points in time.</li>
</ol>
</p>

<center>
<img style='padding: 10px' height='100px' src='/proxy/_1s/http://static.nationalmap.nicta.com.au/images/DEA.jpg'/>
<img style='padding: 10px' height='100px' src='/proxy/_1s/http://static.nationalmap.nicta.com.au/images/Data61.png'/>
<img style='padding: 10px' height='100px' src='/proxy/_1s/http://static.nationalmap.nicta.com.au/images/NCI.svg'/>
</center>
<br/>
<center>
<img style='padding: 10px' height='100px' src='/proxy/_1s/http://static.nationalmap.nicta.com.au/images/GA.jpg'/>
<img style='padding: 10px' height='100px' src='/proxy/_1s/http://static.nationalmap.nicta.com.au/images/DoEE.png'/>
</center>
