"cacheDuration": "5m",
"infoSectionOrder": [
  "Overview",
  "Description of Data",
  "Data Currency",
  "Data Supplier and Custodian",
  "Plain English Disclaimer",
  "Full Legal Disclaimer"
],
"initialMessage": {
  "key": "initialMessage.dance3",
  "title": "Network Opportunities Disclaimer",
  "content": "<h4>Plain English Disclaimer</h4> <% include DG-connection/init-fragments/plain-english-disclaimer.html %> <h4>Full Legal Disclaimer</h4> <% include DG-connection/init-fragments/full-legal-disclaimer.html %>",
  "confirmation": true,
  "width": 600,
  "height": 550,
  "confirmText": "I Agree"
}
