<table class='cesium-infoBox-defaultTable'><tbody>
  <tr>
    <td>Station Name</td>
    <td>{{Station Name}}</td>
  </tr>
  <tr>
    <td>Current Output (MW)</td>
    <td>{{Current Output (MW)}}</td>
  </tr>
  <tr>
    <td>Most Recent Output Time (AEST)</td>
    <td>{{Most Recent Output Time (AEST)}}</td>
  </tr>
  <tr>
    <td>Current % of Max Cap</td>
    <td>{{Current % of Max Cap}}</td>
  </tr>
  <tr>
    <td>Current % of Reg Cap</td>
    <td>{{Current % of Reg Cap}}</td>
  </tr>
  <tr>
    <td>Max Cap (MW)</td>
    <td>{{Max Cap (MW)}}</td>
  </tr>
  <tr>
    <td>Reg Cap (MW)</td>
    <td>{{Reg Cap (MW)}}</td>
  </tr>
  <tr>
    <td>Max ROC/Min</td>
    <td>{{Max ROC/Min}}</td>
  </tr>
  <tr>
    <td>Unit Size (MW)</td>
    <td>{{Unit Size (MW)}}</td>
  </tr>
  <tr>
    <td>Physical Unit No.</td>
    <td>{{Physical Unit No}}</td>
  </tr>
  <tr>
    <td>Participant</td>
    <td>{{Participant}}</td>
  </tr>
  <tr>
    <td>Dispatch Type</td>
    <td>{{Dispatch Type}}</td>
  </tr>
  <tr>
    <td>Category</td>
    <td>{{Category}}</td>
  </tr>
  <tr>
    <td>Classification</td>
    <td>{{Classification}}</td>
  </tr>
  <tr>
    <td>Fuel Source - Primary</td>
    <td>{{Fuel Source - Primary}}</td>
  </tr>
  <tr>
    <td>Fuel Source - Descriptor</td>
    <td>{{Fuel Source - Descriptor}}</td>
  </tr>
  <tr>
    <td>Technology Type - Primary</td>
    <td>{{Technology Type - Primary}}</td>
  </tr>
  <tr>
    <td>Technology Type - Descriptor</td>
    <td>{{Technology Type - Descriptor}}</td>
  </tr>
  <tr>
    <td>Aggregation</td>
    <td>{{Aggregation}}</td>
  </tr>
  <tr>
    <td>DUID</td>
    <td>{{DUID}}</td>
  </tr>
  <tr>
    <td>Lat</td>
    <td>{{Lat}}</td>
  </tr>
  <tr>
    <td>Lon</td>
    <td>{{Lon}}</td>
  </tr>
  <tr>
    <td>CSV for last 24h</td>
    <td>{{{CSV for last 24h}}}</td>
  </tr>
  <tr>
    <td>CSV for all data</td>
    <td>{{{CSV for all data}}}</td>
  </tr>
  <tr>
    <td colspan='2' style='padding-top: 5px; padding-right: 10px;'>
      {{{Latest 24h generation}}}
    </td>
  </tr>
</tbody></table>
