<h3>{{Station Name}} ({{DUID}})</h3>

<p><strong>{{Participant}}</strong>
<div><strong>{{Current Output (MW)}}MW</strong> at {{Most Recent Output Time (AEST)}}</div>
<div><strong>{{Current % of Reg Cap}}%</strong> of {{Reg Cap (MW)}}MW registered capacity</div>
<div><strong>{{Current % of Max Cap}}%</strong> of {{Max Cap (MW)}}MW maximum capacity</div>
</p>
<table>
  <tbody>
    <tr>
      <td>Category</td>
      <td class='strong'>{{Category}}</td>
    </tr>
    <tr>
      <td>Classification</td>
      <td class='strong'>{{Classification}}</td>
    </tr>
    <tr>
      <td>Fuel Source</td>
      <td class='strong'>{{Fuel Source - Primary}} ({{Fuel Source - Descriptor}})</td>
    </tr>
    <tr>
      <td>Technology Type</td>
      <td class='strong'>{{Technology Type - Primary}} ({{Technology Type - Descriptor}})</td>
    </tr>
    <tr>
      <td>Physical Unit No.</td>
      <td class='strong'>{{Physical Unit No_}}</td>
    </tr>
    <tr>
      <td>Aggregation</td>
      <td class='strong'>{{Aggregation}}</td>
    </tr>
    <tr>
      <td>Unit Size (MW)</td>
      <td class='strong'>{{Unit Size (MW)}}</td>
    </tr>
    <tr><td>Power generation</td><td><chart poll-seconds='300' poll-replace='true' sources='http://services.aremi.nicta.com.au/aemo/v4/duidcsv/{{DUID}}?offset=1D,http://services.aremi.nicta.com.au/aemo/v4/duidcsv/{{DUID}}?offset=5D,http://services.aremi.nicta.com.au/aemo/v4/duidcsv/{{DUID}}?offset=30D,http://services.aremi.nicta.com.au/aemo/v4/duidcsv/{{DUID}}?offset=3M' source-names='1d,5d,30d,3m' preview-x-label='Last 24 hours' column-names='Time,Power Generation' column-units='Date,MW'></chart></td></tr>
  </tbody>
</table>
