{
  "id": "2bb59042",
  "name": "Development Applications",
  <%# "layers": "Mean Annual Wind Speed m\\s", %>
  "url": "http://data.actmapi.act.gov.au/arcgis/rest/services/actmapi/da/MapServer",
  "type": "esri-mapServer",
  "dataCustodian": "Australian Capital Territory Environment and Planning Directorate",
  "info": [
    {
      "name": "Licensing, Terms & Conditions",
      "content": "&copy; Australian Capital Territory <p> <a href='https://creativecommons.org/licenses/by/4.0/'>Creative Commons CC-BY 4.0</a>"
    }
  ],
  <%- include ../../common/standard_properties %>
}
