{
  "id": "90146db2",
  "name": "WAsP LIB files",
  "layers": "wasp_lib_files",
  "url": "http://gis.aremi.nationalmap.gov.au/dnvgl/wms",
  "type": "wms",
  "opacity": 0.3,
  "featureInfoTemplate" : {
    "template": "Download WAsP LIB file: <a target='_blank' href='http://static.aremi.nicta.com.au/datasets/DNVGL/WAsP/{{filename}}'>{{filename}}</a>"
  },
  "info" :[
    {
      "name": "Download Data",
      "content": "<% include Wind-WaSP-details %>"
    },
    {
      "name": "Data Currency and Updates",
      "content": "<% include Wind-currency-updates %>"
    },
    {
      "name": "Data Supplier",
      "content": "<% include Wind-supplier %> <p> <% include Wind-logo %>"
    },
    {
      "name": "Legal Disclaimer, Licensing, Terms & Conditions",
      "content": "<% include Wind-licensing %>"
    }
  ],
  "attribution": "DNV GL",
  "initialMessage": {
    "key": "initialMessage.dnvgl.wasp",
    "title": "DNV GL Wind Atlas Disclaimer",
    "content": "<% include Wind-logo %> <p> <% include Wind-licensing %>",
    "confirmation": true,
    "width": 600,
    "height": 550,
    "confirmText": "I Agree"
  },
  <% include ../../common/home_camera_rectangle %>,
  <% include ../../common/standard_properties %>
}
