In order to supplement the mesoscale modelling results, DNV GL has used the outputs of the mesoscale simulation to create Wind Atlas Library (LIB) files that can be used as an input to the Wind Atlas and Analysis Program (WAsP). WAsP is an industry standard microscale model that was developed for the creating of the European Wind Atlas (Troen and Petersen, 1989).
<p>
WAsP LIB files contain generalised climate wind statistics which are expressed as wind speed and wind direction frequency distributions for standard heights and surface roughness lengths. The LIB files can therefore be used, along with the WAsP microscale wind flow modelling software, to generate finer resolution wind speed maps across an area of interest. These finer resolution maps could then be used for the purpose of site identification studies, or preliminary turbine siting studies.
<p>
Download all the DNV GL WAsP LIB files:<br/>
<a target='_blank' href='http://static.aremi.nicta.com.au/datasets/DNVGL/Australia_5km_libfiles_all.zip'>http://static.aremi.nicta.com.au/datasets/DNVGL/Australia_5km_libfiles_all.zip</a>
<p>
The hourly outputs of the WMS at 25 km horizontal intervals in the study domain are used to calculate the generalized wind climate statistics. This was performed using the Danish Technical University (DTU) Generalized Wind Climate software package. The label of each LIB file gives the latitude and longitude (WGS84 datum) location of the 5 km resolution grid cell result which was used to generate the LIB file, as outlined in the example below.

<em>Australia_5km_9.856S_142.310E.lib</em>

Each LIB file contains the wind speed frequency distribution, as Weibull-A and Weibull-k parameters, for 12 directional sectors, 5 roughness classes and 5 standard heights.  The format of the file contents is described in the following table.
<p>


<table>
    <tr><th colspan='2' style='text-align: left;'><h3><strong>WAsP-lib file format</strong></h3></th></tr>
    <tr><th style='padding: 0 10px 0 10px; text-align: left;'><strong>Row</strong></th><th style='text-align: left;'><strong>Content</strong></th></tr>

    <tr><td style='padding: 0 10px 0 10px;'>1</td><td>Text string identifying the wind atlas file</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>2</td><td>Number of roughness classes, heights and sectors in data set <br/> values are: 5, 5 and 12</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>3</td><td>Roughness lengths [m] <br/> values are: 0.0001, 0.03, 0.10, 0.40 and 1.50 m</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>4</td><td>Standard heights above ground level [m] <br/> values are: 10, 50, 100, 150 and 200 m a.g.l.</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>5</td><td>Frequencies of occurrence for reference roughness #1 (0 m)</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>6</td><td>Weibull A-parameters for standard height of 10 m a.g.l. in [m/s]</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>7</td><td>Weibull k-parameters for standard height of 10 m a.g.l. in [m/s]</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>8-9</td><td>Weibull A- and k-parameters for standard height of 50 m a.g.l. in [m/s]</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>10-11</td><td>Weibull A- and k-parameters for standard height of 100 m a.g.l. in [m/s]</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>12-13</td><td>Weibull A- and k-parameters for standard height of 150 m a.g.l. in [m/s]</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>14-15</td><td>Weibull A- and k-parameters for standard height of 200 m a.g.l. in [m/s]</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>16-26</td><td>As lines 5-15, but for reference roughness 0.03 m</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>27-37</td><td>As lines 5-15, but for reference roughness 0.10 m</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>38-48</td><td>As lines 5-15, but for reference roughness 0.40 m</td></tr>
    <tr><td style='padding: 0 10px 0 10px;'>38-48</td><td>As lines 5-15, but for reference roughness 1.50 m</td></tr>
</table>
