Presented are the wind maps of Australia at 100 m and 150 m height provided in Network Common Data Form (“netCDF – classic”) and XYZ text format.
<p>
Download raw data in NetCDF format: <a target='_blank' href='datasets/dnvgl/DNVGL_Australia_5km_windmap_nc.zip'>datasets/dnvgl/DNVGL_Australia_5km_windmap_nc.zip</a>
<p>
Download raw data in XYZ format: <a target='_blank' href='datasets/dnvgl/DNVGL_Australia_5km_windmap_xyz.zip'>datasets/dnvgl/DNVGL_Australia_5km_windmap_xyz.zip</a>
<p>
The netCDF map contains the latitude, longitude (WGS84 datum) and wind speed value for both of the required heights for every 5 km mesocale grid cell within and immediately surrounding Australia. Additionally, the files contain metadata that provide a definitive description of what the data in each variable represents, and the spatial and temporal properties of the data. Wind speed values of -999 are outside of the modelled domain and invalid, these are included only to fulfil the netCDF format gridding requirements. These values should not be displayed in the final representation of the data.
<p>
Further information on the file format and on freely available utilities for manipulating netCDF files is available on the Unidata netCDF Web site:
<p>
<a target='_blank' href='http://www.unidata.ucar.edu/software/netcdf/'>http://www.unidata.ucar.edu/software/netcdf/‎</a>
<p>
The .xyz text format of the wind speed map can be opened and read in standard text editors.
