United Energy (UE) has produced a Google Earth KMZ file as part of the Distribution Annual Planning Report (DAPR) which highlights the network constraint faced at the Sub-Transmission, Zone Substation and Distribution feeder levels.
<p>
The Network Constraint Map is comprised of a few layers:
<ol>
  <li>UE Boundary (Black border and shaded in black)</li>
  <li>Council Boundary (Blue border)</li>
  <li>Sub-transmission Loop Limitation (Area shaded in yellow)</li>
  <li>Zone Substation Loop Limitation (Area shaded in red)</li>
  <li>Distribution Feeder Limitation (Line in red)</li>
  <li>Distribution Substation Limitation (Markers in Green and Orange)</li>
</ol>
Please note if an area of the Sub-transmission loop intersect with that of a Zone Substation (when both selected at the same time), the area will be shaded in orange.
<p>
To obtain more information on any of the constraints, simply click on the constraint area (distribution substation, distribution feeder, zone-substation, sub-transmission).
<p>
An information box will pop up with some basic details about the constraint area, as shown in Figure 3. For further information, please refer to the full UE 2016 DAPR published on the UEMG website.
