<style type='text/css'>
    table.wa-feedlots, .wa-feedlots th, .wa-feedlots td {
   border: 1px solid black;
}

</style>

The data is derived from direct feedback from feedlotters who provided average animal weights, days in the feedlot and the total annual throughput. Manure production can vary considerably based on feed quality, stocking density and the weight of the animals. Calculations of total manure dry weight were made using figures derived from the Qld Department of Agriculture and Fisheries from which the following table was sourced. (Ref: <a href='https://www.daf.qld.gov.au/environment/intensive-livestock/cattle-feedlots/managing-environmental-impacts/manure-production-data'>https://www.daf.qld.gov.au/environment/intensive-livestock/cattle-feedlots/managing-environmental-impacts/manure-production-data</a> )
 <br>
 <br>
Table 1. Daily manure production for feedlot cattle
 <br>
<table style='border: 1px solid black; text-align: right;' border='1' cellspacing='0' cellpadding='0'>
    <tr>
        <td rowspan='2'> <b>Animal size <br>(kg)</b> </td>
        <td rowspan='2'> <b>Manure production <br>(kg/day)</b> </td>
        <td rowspan='2'> <b>Total solids <br>(kg/day)</b> </td>
        <td rowspan='2'> <b>Volatile solids <br>(kg/day)</b> </td>
        <td rowspan='2'> <b>BOD* <br> (kg/day)</b> </td>
        <td colspan='3'> <b>Nutrient content <br>(kg/day)</b> </td>
    </tr>
    <tr>
        <td> <b>N</b> </td>
        <td> <b>P</b> </td>
        <td> <b>K</b> </td>
    </tr>
    <tr>
        <td> 220 </td>
        <td> 13.2 </td>
        <td> 1.54 </td>
        <td> 1.32 </td>
        <td> 0.35 </td>
        <td> 0.075 </td>
        <td> 0.024 </td>
        <td> 0.052 </td>
    </tr>
    <tr>
        <td> 300 </td>
        <td> 18.0 </td>
        <td> 2.08 </td>
        <td> 1.06 </td>
        <td> 0.48 </td>
        <td> 0.104 </td>
        <td> 0.034 </td>
        <td> 0.076 </td>
    </tr>
    <tr>
        <td> 450 </td>
        <td> 27.0 </td>
        <td> 3.10 </td>
        <td> 2.70 </td>
        <td> 0.72 </td>
        <td> 0.153 </td>
        <td> 0.050 </td>
        <td> 0.108 </td>
    </tr>
    <tr>
        <td> 600 </td>
        <td> 36.0 </td>
        <td> 4.18 </td>
        <td> 3.56 </td>
        <td> 0.96 </td>
        <td> 0.206 </td>
        <td> 0.068 </td>
        <td> 0.149 </td>
    </tr>
</table>
 <br><br>
From this and the production data provided the calculation BxCxD=total manure produced during the production period, was used where,
 <br><br>
B = Manure dry matter (kg/day)<br>
C = yearly throughput of stock in feedlot <br>
D = days in feedlot <br>