<h3>{{LGA_NAME_2011}}</h3>
Number of Stems: <strong>{{#terria.formatNumber}}{useGrouping:true}{{Number of Stems}}{{/terria.formatNumber}} stems</strong>
<br>
Average year of planting in shire: <strong>{{Average year  of planting in shire}}</strong>
