NSW Cadastre web service is a dynamic map of cadastral features extracted from the NSW Digital Cadastral Database (DCDB). It provides access to a state wide integrated database and a component of the foundation spatial datasets within the New South Wales. A ‘cadastre’ is an official register of property showing boundaries. The DCDB contains current land titles only.
<p>
The cadastral feature class layers provided through this web service includes:
<ul>
  <li>Large Rural Plan Extent</li>
  <li>Rural Plan Extent</li>
  <li>Section Extent</li>
  <li>Plan Extent</li>
  <li>Lot</li>
  <li>Plan Extent Labels</li>
  <li>Section Extent Labels</li>
  <li>Lot Labels</li>
</ul>
<p>
The available attributes for point queries are:
<ul>
  <li>Lot/Section/Plan string</li>
  <li>CadID</li>
</ul>
<p>
More information can be found here:
<p>
<a href='http://www.lpi.nsw.gov.au/__data/assets/pdf_file/0012/203160/NSW_Cadastre_Web_Service.pdf'>http://www.lpi.nsw.gov.au/__data/assets/pdf_file/0012/203160/NSW_Cadastre_Web_Service.pdf</a>
