<h3>{{substation_name}}</h3>
<table>
  <tr> <td>Forecast Remaining Capacity:&nbsp;</td> <td><strong>{{description}}</strong></td> </tr>
  <tr> <td>Forecast Year:&nbsp;</td> <td><strong>{{forecast_year}}</strong></td> </tr>
  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{sub_abbrv}}</strong></td> </tr>
  <tr> <td>Data current:&nbsp;</td> <td><strong>{{dat_crt_dt}}</strong></td> </tr>
</table>
