<h3>{{substation_name}}</h3>
<table>
  <tr> <td>Generation connection capacity:&nbsp;</td> <td><strong>{{generation_connection_capacity}}</strong></td> </tr>
  <tr> <td>Owner:&nbsp;</td> <td><strong>{{owner}}</strong></td> </tr>
  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{sub_abbrv}}</strong></td> </tr>
  <tr> <td>Data current:&nbsp;</td> <td><strong>{{dat_crt_dt}}</strong></td> </tr>
</table>
