<h3>{{SubstationName}}</h3>
<table>
  <tr> <td>Generation connection capacity:&nbsp;</td> <td><strong>{{Description}}</strong></td> </tr>
  <tr> <td>Abbreviation:&nbsp;</td> <td><strong>{{SubstationAbbreviation}}</strong></td> </tr>
</table>
