{
    "type": "wms",
    "url": "https://nsw-digital-twin-data.terria.io/geoserver/ows",
    "layers": "cite:Substations",
    "name": "Distribution Substations",
    "legendUrl":"http://static.aremi.data61.io/datasets/evmap/substations.png",
    "cacheDuration": "1d",
    "opacity": 1,
    "featureInfoTemplate": {
        "template": "<h2>{{network}} Substation</h2> <dl class='isf-info'> {{#network}}<dt> Network  </dt><dd> {{network}} </dd> {{/network}} {{#asset_id}}<dt> Asset ID  </dt><dd> {{asset_id}} </dd> {{/asset_id}} {{#other_ids}}<dt> Other identifiers  </dt><dd> {{other_ids}} </dd> {{/other_ids}} {{#prim_v}}<dt> Primary voltage (kV)  </dt><dd> {{prim_v}} </dd> {{/prim_v}} {{#second_v}}<dt> Secondary voltage (kV)  </dt><dd> {{second_v}} </dd> {{/second_v}} {{#capacity}}<dt> Capacity (kVA)  </dt><dd> {{capacity}} </dd> {{/capacity}} {{#oriented}}<dt> Orientation  </dt><dd> {{oriented}} </dd> {{/oriented}} {{#phases}}<dt> Number of Phases  </dt><dd> {{phases}} </dd> {{/phases}} {{#status}}<dt> Service status  </dt><dd> {{status}} </dd> {{/status}} {{#norm_state}}<dt> Normal status  </dt><dd> {{norm_state}} </dd> {{/norm_state}} {{#feeder}}<dt> HV feeder name  </dt><dd> {{feeder}} </dd> {{/feeder}} {{#sub_type}}<dt> Substation type  </dt><dd> {{sub_type}} </dd> {{/sub_type}} {{#conductor}}<dt> Conductor Type  </dt><dd> {{conductor}} </dd> {{/conductor}} {{#conductor2}}<dt> Secondary conductor type  </dt><dd> {{conductor2}} </dd> {{/conductor2}} {{#const_type}}<dt> Hardware type  </dt><dd> {{const_type}} </dd> {{/const_type}} {{#owned_by}}<dt> Owner  </dt><dd> {{owned_by}} </dd> {{/owned_by}} </dl>",
        "name": "{{capacity}} kVA"
    },
    "infoSectionOrder": ["A Description of the Data", "Data Supplier and Processing", "Data Updates", "Disclaimer"],
    "info": [
        {
            "name": "Data Supplier and Processing",
            "content": "<p>The data is supplied by the Endeavour Energy and Essential Energy. Data is processed and by the Institute of Sustainable Futures at the University of Technology Sydney (UTS) for display on AREMI.</p>"
        },
        {
            "name": "Data Updates",
            "content": "<p>Data is updated 6-monthly in June and December.</p>"
        },
        {
            "name": "A Description of the Data",
            "content": "<p></li>This is a map of distribution substations in the Essential energy and Endeavour Energy networks</ul>"
        },
        {
            "name": "Disclaimer",
            "content": "<p>This data layer provides information on locations and characteristics of current electricity distribution network assets within the NEM, to inform potential gaps in the network and opportunities for extending the charging network. You are free to use the data but do so at your own risk. While due care and attention has been taken in the compilation and presentation of the data, the Providers of these maps do not make any representations, guarantees or warranties as to the accuracy, reliability, completeness or currency of the data and content of the maps.</p><p>By viewing or downloading the data the user agrees to irrevocably release the creators, authors, publishers and contributors to the maps, who include Endeavour Energy and Essential Energy, and UTS (‘the ‘Providers’), from all claims, actions, damages, judgments, losses, remedies or matters whether in tort, contract or under statute or otherwise, relating to the data. By proceeding, the user releases the Providers from all liability, and accepts the terms of this Disclaimer.</p>"
        }
    ]   
}