None of the PHES sites discussed in this study have been the subject of geological, hydrological, environmental and other studies, and it is not known whether any particular site would be suitable.

<p>Please refer to the ANU 100% Renewable Energy website for additional information:</p>

<p><a href='http://re100.eng.anu.edu.au/'>http://re100.eng.anu.edu.au/</a></p>

<p>There has been no investigation of land tenure apart from exclusion of national parks and urban areas, and no discussions with land owners and managers. Nothing in this list of potential site locations implies any rights for development of these locations.</p>

<p>The commercial feasibility of developing these sites is unknown. As with all major engineering projects, diligent attention to quality assurance would be required for safety and efficacy.</p>
