<a href='http://creativecommons.org/licenses/by/3.0/au/'>Creative Commons BY Attribution</a>:
<p>
Department for Manufacturing, Innovation, Trade, Resources and Energy (DMITRE), the Government of South Australia, Diesel Generation Plants, Sourced on 6 May 2016 https://sarig.pir.sa.gov.au/Map
<p>
Copyright subsists in this material and is either owned by or licensed to the Government of South Australia. The Government of South Australia has undertaken reasonable enquiries to identify material owned by third parties and secure permission for its reproduction. Permission may need to be obtained from third parties to re-use their material.
<p>
Subject to any specific licence terms that may apply or any restrictions placed on this material by a third party owner, this copyright material may be reproduced, or made available online or electronically. Any reproduction of the material must include an acknowledgement of the copyright owner.
<p>
Subject to any specific licence terms that may apply, this copyright material must not be altered without the permission of the copyright owner. The piping shrike emblem, logos, images and any material protected by a trademark must not be reproduced or otherwise made available without the prior written approval of the Government of South Australia.
