<div style='max-width: 40em'>
  <h3>{{Location}}</h3>
  Postcode: <strong>{{Postcode}}</strong>

  <style type='text/css'>
    table.vic-bio tr td:nth-child(1) {
      white-space: nowrap;
      padding-right: 0.5em;
    }
  </style>

  <p>
    <table class='vic-bio'>
      <tr><td>Residue type:             </td> <td><strong>{{Residue Type}}</strong></td></tr>
      <tr><td>Amount:                   </td> <td><strong>{{Amount}} {{Unit}}</strong></td></tr>
      <tr><td>Estimated quantity range: </td> <td><strong>{{Estimated Quantity Range}}</strong></td></tr>
      <tr><td>Stockpile:                </td> <td><strong>{{stockpile}}</strong></td></tr>
      <tr><td>MC %:                     </td> <td><strong>{{MC %}}</strong></td></tr>
      <tr><td>Amount (t/y dry wt):      </td> <td><strong>{{Amount (t/y dry wt)}}</strong></td></tr>
    </table>
  </p>
</div>
