{{#LGA_NAME_2011}}
<h3>{{WRRG}}</h3>
<h4>(LGA: {{LGA_NAME_2011}})</h4>
{{#terria.formatNumber}}{useGrouping:true}{{Amount}}{{/terria.formatNumber}} {{Unit}} of <b>{{Residue Type}}</b>
<br>
Amount (t/y dry wt): {{Amount (t/y dry wt)}}
<br>
<small>{{Note}}</small>
{{/LGA_NAME_2011}}