{{#sa2_name}}
<h3>{{sa2_name}}</h3>
Amount ({{Unit}}): <b>{{#terria.formatNumber}}{useGrouping:true}{{Amount (dry wt)}}{{/terria.formatNumber}}</b> <br><br>
{{/sa2_name}}
{{^sa2_name}}
No data found for this region
{{/sa2_name}}