[
  {
    "name": "Construction Demolition Waste",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The Construction & Demolition (C&D) stream has been provided for completeness. Quantities have been provided at regional level only, based on the statutory Waste and Resource Recovery Groups (WRRG). <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. ",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/CnD_GardenOrganics.csv",
        "name": "Garden Organics",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "<% include info/Construction_Demolition_Waste-Description.html %>",
            "name": "Data Description"
          },
          {
            "content": "Sustainability Victoria",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      },
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/CnD_Timber.csv",
        "name": "Timber",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "<% include info/Construction_Demolition_Waste-Description.html %>",
            "name": "Data Description"
          },
          {
            "content": "Sustainability Victoria",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      }
    ]
  },
  {
    "name": "Food Processing",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The data presented for Victoria in AREMI are the results of modelling the quantities of biomass residue generated throughout the state across Municipal Solid Waste (MSW), several industries in the Commercial and Industrial (C&I) sector and the Construction and Demolition (C&D) sector. <p> Data for all modelled residue generation has been presented at a Local Government Area (LGA) geographical area. The categorisation of wastes has considered the end nature of the wastes to be used in energy production. Therefore, an indication of whether a residue is dry, wet, liquid or woody has been provided where possible. They have been discussed below. </p> <p> Dry and woody feed: For consistency, data has where possible been provided in dry tonnes per annum, taking into consideration the moisture content of residue streams, or left as tonnes per annum where application of a moisture content is not feasible due to the inconsistent nature of the organic waste stream or data. </p> <p> Wet feed: Chemical Oxygen Demand (COD) is a measure of the total organic compounds in water by providing an indication of the total oxygen required to fully oxidise those compounds. COD differs from Biological Oxygen Demand (BOD) in that it considers organic matter than can be chemical oxidised and not just biologically. COD therefore includes more organic compounds (than BOD), and is commonly used for testing industrial wastewaters, a key output from most commercial facilities. COD is also used to predict the potential for biogas production and the COD present in organic material is essentially preserved in the AD end products of methane and digestate residue mass. Hence, where wastewater have been modelled, the residues have been provided in COD tonnes per year. </p> <p> Liquid feed: Compared to wastewater, the main component contributing to the organic strength of sludge and manure is organic Suspended Solids (SS). From an energy generation perspective, the most important metrics in characterising these slurries are Total Solids content (TS) and Volatile Solids content (VS), rather than COD. When considering biogas production from a slurry, the VS content is more important than TS as it represents the fraction of the solid material that may be transferred to biogas. Hence, quantities of residue from manures or slurries have been presented in VS tonnes per year. The types of residues modelled are based on an assessment of the availability of the stream, such as where the current offtake markets have little value or disposal costs are low. </p> <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. ",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "name": "Dairy Product Manufacturing",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/DairyProductManufacturing_Wastewater.csv",
            "name": "Wastewater",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Food_Processing-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "NPI. (2016). NPI data. National Pollutant Inventory (NPI).<p>Dairy Australia consultation ",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          }
        ]
      },
      {
        "name": "Fruit and Nut Processing",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Almond_HusksShells.csv",
            "name": "Almond processing - husks and shells",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Food_Processing-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "ABS. Agricultural Commodities, Australia 2010-11 to 2015-16 . 7121.0. Australian Bureau of Statistics (ABS).",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "name": "Fruit Processing Facilities",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/FruitVegetableProcessing_ProcessingSolidResidues.csv",
                "name": "Processing solid wastes",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Food_Processing-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "NPI. (2016). NPI data. National Pollutant Inventory (NPI). <p>ABA. (2013). Renewable Energy Production form Almond Waste. Almond Board Australia (ABA). ",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          }
        ]
      },
      {
        "name": "Meat Processing",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "name": "Beef",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Cattle_Wastewater.csv",
                "name": "Wastewater",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Food_Processing-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Beef-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Cattle_Paunch.csv",
                "name": "Paunch",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Food_Processing-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Beef-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Pork ",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Pig_Wastewater.csv",
                "name": "Wastewater",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Food_Processing-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Pork-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Pig_Paunch.csv",
                "name": "Paunch",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Food_Processing-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Pork-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Poultry",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Poultry_Wastewater.csv",
                "name": "Wastewater",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Food_Processing-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "ABS. (2017, December). 7215.0 - Livestock Products, Australia, Dec 2016. Australian Bureau of Statistics <p> NPI. (2016). NPI data. National Pollutant Inventory (NPI). </p> <p> McGahan, E., Barker, S., Poad, G., & Wiedemann, S. (2013). Coversion of waste to energy in the chicken meat industry . Rural Industries Research and Development Council (RIRDC). </p> <p> VCMC. (2015). Chicken Meat Industry Strategic Plan 2025 for Victoria. Victorian Chicken Meat Council (VCMC).</p>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          }
        ]
      },
      {
        "name": "Wine Manufacturing",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/GrapeWineProduction_GrapeMarc.csv",
            "name": "Grape marc",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Food_Processing-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "ABS. Agricultural Commodities, Australia 2010-11 to 2015-16 . 7121.0. Australian Bureau of Statistics (ABS). <p> ARMCANZ & ANZECC. (1998). Effluent Management Guidelies for Australian Wineries and Distilleries. Agriculture and Resource Management Council of Austraila and New Zealand & Australian and New Zealand Environment and Conservation Council. </p> <p> Bacic, T. (2003). Recovery of valuable products from lees and integrated approach to minimise waste and add value to wine production. The University of Melbourne. </p> <p> PPK. (2001). Opportunities for the re-use of winery industry solid wastes. Adelaide: PPK Environment and Infrastructure Pty Ltd. </p>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          }
        ]
      }
    ]
  },
  {
    "name": "Other Industry",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The data presented for Victoria in AREMI are the results of modelling the quantities of biomass residue generated throughout the state across Municipal Solid Waste (MSW) and several industries in the Commercial and Industrial (C&I) and Construction and Demolition (C&D) sectors. <p> Data for all modelled residue generation has been presented at a Local Government Area (LGA) equivalent. Due to the prominent use of Australian Bureau of Statistics (ABS) datasets across this study, data has been presented at Statistical Area 2 level (SA2),an Australian Statistical Geography Standard (ASGS) that is part of  the ABS geographical framework for collection and dissemination of geographically classified statistics. SA2s are general-purpose medium sized areas, representing a community that interacts together socially and economically and generally have a population range of 3,000 to 25,000 persons. They can be linked to LGAs through correspondence tables that ABS provides. </p> <p> The categorisation of wastes has considered the end nature of the wastes to be used in energy production. Therefore, an indication of whether a residue is dry, wet, liquid or woody has been provided where possible. They have been discussed below. </p> <p> Dry and woody feed: For consistency, data has where possible been provided in dry tonnes per annum, taking into consideration the moisture content of residue streams, or left as tonnes per annum where application of a moisture content is not feasible due to the inconsistent nature of the organics waste stream or data. </p> <p> Wet feed: Chemical Oxygen Demand (COD) is a measure of the total organic compounds in water  by providing an indication of the total oxygen required to fully oxidise those compounds. COD differs from Biological Oxygen Demand (BOD) in that it considers organic matter than can be chemical oxidised and not just biologically. COD therefore includes more organic compounds (than BOD), and is commonly used for testing industrial wastewaters, a key output from most commercial facilities. COD is also used to predict the potential for biogas production and the COD present in organic material is essentially preserved in the AD end products of methane and digestate residue mass. Hence, where wastewater have been modelled, the residues have been provided in COD tonnes per year. </p> <p> Liquid feed: Compared to wastewater, the main component contributing to the organic strength of sludge and manure is organic Suspended Solids (SS). From an energy generation perspective, the most important metrics in characterising these slurries are Total Solids content (TS) and Volatile Solids content (VS), rather than COD. When considering biogas production from a slurry, the VS content is more important than TS as it represents the fraction of the solid material that may be transferred to biogas. Hence, quantities of residue from manures or slurries have been presented in VS tonnes per year. </p> <p> The types of residues modelled are based on an assessment of the availability of the stream, such as where the current offtake markets have little value or disposal costs are low. </p> <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. </p>",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/LGA_organics.csv",
        "name": "Organics",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "<% include info/Other-Description.html %>",
            "name": "Data Description"
          },
          {
            "content": "<% include info/Other-Source.html %>",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      },
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/LGA_paperandcardboard.csv",
        "name": "Paper and Cardboard",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "<% include info/Other-Description.html %>",
            "name": "Data Description"
          },
          {
            "content": "<% include info/Other-Source.html %>",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      }
    ],
  },
  {
    "name": "Forestry",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The data presented for Victoria in AREMI are the results of modelling the quantities of biomass residue generated throughout the state across Municipal Solid Waste (MSW) and several industries in the Commercial and Industrial (C&I) and Construction and Demolition (C&D) sectors. <p> Data for all modelled residue generation has been presented at a Local Government Area (LGA) equivalent. Due to the prominent use of Australian Bureau of Statistics (ABS) datasets across this study, data has been presented at Statistical Area 2 level (SA2),an Australian Statistical Geography Standard (ASGS) that is part of  the ABS geographical framework for collection and dissemination of geographically classified statistics. SA2s are general-purpose medium sized areas, representing a community that interacts together socially and economically and generally have a population range of 3,000 to 25,000 persons. They can be linked to LGAs through correspondence tables that ABS provides. </p> <p> The categorisation of wastes has considered the end nature of the wastes to be used in energy production. Therefore, an indication of whether a residue is dry, wet, liquid or woody has been provided where possible. They have been discussed below. </p> <p> Dry and woody feed: For consistency, data has where possible been provided in dry tonnes per annum, taking into consideration the moisture content of residue streams, or left as tonnes per annum where application of a moisture content is not feasible due to the inconsistent nature of the organics waste stream or data. </p> <p> Wet feed: Chemical Oxygen Demand (COD) is a measure of the total organic compounds in water  by providing an indication of the total oxygen required to fully oxidise those compounds. COD differs from Biological Oxygen Demand (BOD) in that it considers organic matter than can be chemical oxidised and not just biologically. COD therefore includes more organic compounds (than BOD), and is commonly used for testing industrial wastewaters, a key output from most commercial facilities. COD is also used to predict the potential for biogas production and the COD present in organic material is essentially preserved in the AD end products of methane and digestate residue mass. Hence, where wastewater have been modelled, the residues have been provided in COD tonnes per year. </p> <p> Liquid feed: Compared to wastewater, the main component contributing to the organic strength of sludge and manure is organic Suspended Solids (SS). From an energy generation perspective, the most important metrics in characterising these slurries are Total Solids content (TS) and Volatile Solids content (VS), rather than COD. When considering biogas production from a slurry, the VS content is more important than TS as it represents the fraction of the solid material that may be transferred to biogas. Hence, quantities of residue from manures or slurries have been presented in VS tonnes per year. </p> <p> The types of residues modelled are based on an assessment of the availability of the stream, such as where the current offtake markets have little value or disposal costs are low. </p> <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. </p>",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "name": "Forest Harvest Residues",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "name": "Plantation Hardwood",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Plantation2016-20_Hardwood_Bark.csv",
                "name": "Bark",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Plantation2016-20_hardwood_Branch.csv",
                "name": "Branch",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Plantation2016-20_hardwood_Stump.csv",
                "name": "Stump",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Plantation Softwood",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Plantation2016-20_Softwood_Bark.csv",
                "name": "Bark",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Plantation2016-20_Softwood_Branch.csv",
                "name": "Branch",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Plantation2016-20_Softwood_Stump.csv",
                "name": "Stump",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Forest_Harvest_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          }
        ]
      },
      {
        "name": "Wood Processing Residues",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "name": "Plantation Hardwood",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_Plantation2016-20_hardwood_bark.csv",
                "name": "Bark",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_Plantation2016-20_hardwood_sawdust.csv",
                "name": "Sawdust",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_Plantation2016-20_hardwood_woodchip.csv",
                "name": "Woodchip",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Plantation Softwood",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_Plantation2016-20_softwood_bark.csv",
                "name": "Bark",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_Plantation2016-20_softwood_sawdust.csv",
                "name": "Sawdust",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_Plantation2016-20_softwood_woodchip.csv",
                "name": "Woodchip",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Native Hardwood",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_NativeForests_bark.csv",
                "name": "Bark",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_NativeForests_sawdust.csv",
                "name": "Sawdust",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              },
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Sawmill_NativeForests_woodchips.csv",
                "name": "Woodchip",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Wood_Processing_Residues-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "<% include info/Wood_Processing_Residues-Source.html %>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          }
        ]
      },
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2017/NPI_Regions_National.kmz",
        "name": "NPI Regions National",
        "type": "kml",
        "info": [
          {
            "content": "This layer provides the outline of the National Plantation Inventory (NPI) boundaries. It can be used to layer over the forestry and manufacturing sawmill residues to provide information on point of generation and the modelled residue estimations from NPI regions.",
            "name": "Data Description"
          },
          {
            "content": "Provided by Australian Bureau of Agricultural and Resource Economics (ABARES) upon request. ",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      },
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2017/AusPlantationsNPI_KMZ_VIC.kmz",
        "name": "Aus Plantations NPI",
        "type": "kml",
        "info": [
          {
            "content": "This layer provides the locations of Victorian plantations - hardwood and softwood. Green represents hardwood plantations and brown represents softwood plantations. It can be used to layer over the forestry and manufacturing sawmill residues to provide information on point of generation and the modelled residue estimations from plantations. ",
            "name": "Data Description"
          },
          {
            "content": "ABARES 2016, Australian Plantation Statistics 2016, Australian Bureau of Agricultural and Resource Economics (ABARES), retrieved from http://data.daff.gov.au/anrdl/metadata_files/pb_aplnsd9abfe20160816.xml",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      }
    ],
  },
  {
    "name": "Agriculture",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The data presented for Victoria in AREMI are the results of modelling the quantities of biomass residue generated throughout the state across Municipal Solid Waste (MSW) and several industries in the Commercial and Industrial (C&I) and Construction and Demolition (C&D) sectors. <p> Data for all modelled residue generation has been presented at a Local Government Area (LGA) equivalent. Due to the prominent use of Australian Bureau of Statistics (ABS) datasets across this study, data has been presented at Statistical Area 2 level (SA2),an Australian Statistical Geography Standard (ASGS) that is part of  the ABS geographical framework for collection and dissemination of geographically classified statistics. SA2s are general-purpose medium sized areas, representing a community that interacts together socially and economically and generally have a population range of 3,000 to 25,000 persons. They can be linked to LGAs through correspondence tables that ABS provides. </p> <p> The categorisation of wastes has considered the end nature of the wastes to be used in energy production. Therefore, an indication of whether a residue is dry, wet, liquid or woody has been provided where possible. They have been discussed below. </p> <p> Dry and woody feed: For consistency, data has where possible been provided in dry tonnes per annum, taking into consideration the moisture content of residue streams, or left as tonnes per annum where application of a moisture content is not feasible due to the inconsistent nature of the organics waste stream or data. </p> <p> Wet feed: Chemical Oxygen Demand (COD) is a measure of the total organic compounds in water  by providing an indication of the total oxygen required to fully oxidise those compounds. COD differs from Biological Oxygen Demand (BOD) in that it considers organic matter than can be chemical oxidised and not just biologically. COD therefore includes more organic compounds (than BOD), and is commonly used for testing industrial wastewaters, a key output from most commercial facilities. COD is also used to predict the potential for biogas production and the COD present in organic material is essentially preserved in the AD end products of methane and digestate residue mass. Hence, where wastewater have been modelled, the residues have been provided in COD tonnes per year. </p> <p> Liquid feed: Compared to wastewater, the main component contributing to the organic strength of sludge and manure is organic Suspended Solids (SS). From an energy generation perspective, the most important metrics in characterising these slurries are Total Solids content (TS) and Volatile Solids content (VS), rather than COD. When considering biogas production from a slurry, the VS content is more important than TS as it represents the fraction of the solid material that may be transferred to biogas. Hence, quantities of residue from manures or slurries have been presented in VS tonnes per year. </p> <p> The types of residues modelled are based on an assessment of the availability of the stream, such as where the current offtake markets have little value or disposal costs are low. </p> <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. </p>",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "name": "Cropping",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Cereals_strawchaff.csv",
            "name": "Cereals - Straw/chaff",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Agriculture-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "<% include info/Cropping-Source.html %>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Oilseeds_pods.csv",
            "name": "Oilseeds - pods",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Agriculture-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "<% include info/Cropping-Source.html %>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          }
        ]
      },
      {
        "name": "Livestock",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "name": "Chickens",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Chicken_poultrylitter.csv",
                "name": "Poultry litter",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Agriculture-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "ABS. Agricultural Commodities, Australia 2010-11 to 2015-16 . 7121.0. Australian Bureau of Statistics (ABS). <p> Wiedemann, S. (2015). Energy recovery from litter: a guide for users. Rural Industries Research and Development Council (RIRDC). </p> <p> Wiedemann, S., Bielefeld, E., McGahan, E., Valentine, J., & Murphy, C. (2015). Grower options for spent litter utilisation. Rural Industries Research and Development Council (RIRDC). </p>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Cattle Dairy",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Dairycattle_manureslurry.csv",
                "name": "Manure/slurry",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Agriculture-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "ABS. Agricultural Commodities, Australia 2010-11 to 2015-16 . 7121.0. Australian Bureau of Statistics (ABS). <p> Dairy Australia. (2008). Effluent and Manure Management Database for the Australian Dairy Industry. Dairy Australia. </p>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Pigs",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Intensivepig_manureslurry.csv",
                "name": "Manure/slurry",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Agriculture-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "ABS. Agricultural Commodities, Australia 2010-11 to 2015-16 . 7121.0. Australian Bureau of Statistics (ABS). <p> APL. (2015). Piggery manure and effluent management and reuse guidelines. Australian Pork Limited (APL). </p> <p> McGahan, E., Ouellet-Plamondon, C., & Watts, P. (2010). Estimates of manure production from animals for methane generation. Rural Industries Research Development Council (RIRDC). </p>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          },
          {
            "name": "Other Poultry",
            "type": "group",
            "preserveOrder": true,
            "items": [
              {
                "url": "https://calculators.sustainability.vic.gov.au/biomass2018/LayersPullets_poultrylitter.csv",
                "name": "Layers/Pullets - poultry litter",
                "type": "csv",
                <% include ../../common/vic_camera_rectangle %>,
                "tableStyle": {
                  "timeColumn": null
                },
                "info": [
                  {
                    "content": "<% include info/Agriculture-Description.html %>",
                    "name": "Data Description"
                  },
                  {
                    "content": "ABS. Agricultural Commodities, Australia 2010-11 to 2015-16 . 7121.0. Australian Bureau of Statistics (ABS).. <p> McGahan, E., Barker, S., & Tucker, R. (2008). Environmental Guidelines for the Australian Egg Industry . Australian Egg Corporation Limited. </p>",
                    "name": "Source Data"
                  },
                  <% include common-custodian-licensing %>
                ]
              }
            ]
          }
        ]
      }
    ],
  },
  {
    "name": "Horticulture",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The data presented for Victoria in AREMI are the results of modelling the quantities of biomass residue generated throughout the state across Municipal Solid Waste (MSW) and several industries in the Commercial and Industrial (C&I) and Construction and Demolition (C&D) sectors. <p> Data for all modelled residue generation has been presented at a Local Government Area (LGA) equivalent. Due to the prominent use of Australian Bureau of Statistics (ABS) datasets across this study, data has been presented at Statistical Area 2 level (SA2),an Australian Statistical Geography Standard (ASGS) that is part of  the ABS geographical framework for collection and dissemination of geographically classified statistics. SA2s are general-purpose medium sized areas, representing a community that interacts together socially and economically and generally have a population range of 3,000 to 25,000 persons. They can be linked to LGAs through correspondence tables that ABS provides. </p> <p> The categorisation of wastes has considered the end nature of the wastes to be used in energy production. Therefore, an indication of whether a residue is dry, wet, liquid or woody has been provided where possible. They have been discussed below. </p> <p> Dry and woody feed: For consistency, data has where possible been provided in dry tonnes per annum, taking into consideration the moisture content of residue streams, or left as tonnes per annum where application of a moisture content is not feasible due to the inconsistent nature of the organics waste stream or data. </p> <p> Wet feed: Chemical Oxygen Demand (COD) is a measure of the total organic compounds in water  by providing an indication of the total oxygen required to fully oxidise those compounds. COD differs from Biological Oxygen Demand (BOD) in that it considers organic matter than can be chemical oxidised and not just biologically. COD therefore includes more organic compounds (than BOD), and is commonly used for testing industrial wastewaters, a key output from most commercial facilities. COD is also used to predict the potential for biogas production and the COD present in organic material is essentially preserved in the AD end products of methane and digestate residue mass. Hence, where wastewater have been modelled, the residues have been provided in COD tonnes per year. </p> <p> Liquid feed: Compared to wastewater, the main component contributing to the organic strength of sludge and manure is organic Suspended Solids (SS). From an energy generation perspective, the most important metrics in characterising these slurries are Total Solids content (TS) and Volatile Solids content (VS), rather than COD. When considering biogas production from a slurry, the VS content is more important than TS as it represents the fraction of the solid material that may be transferred to biogas. Hence, quantities of residue from manures or slurries have been presented in VS tonnes per year. </p> <p> The types of residues modelled are based on an assessment of the availability of the stream, such as where the current offtake markets have little value or disposal costs are low. </p> <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. </p>",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "name": "Fruit and Vegetable",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Fruit_cullfruit.csv",
            "name": "Cull fruit",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Horticulture-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "<% include info/Horticulture-Source.html %>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Onions_cullonions.csv",
            "name": "Cull onions",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Horticulture-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "<% include info/Horticulture-Source.html %>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Potatoes_cullpotatoes.csv",
            "name": "Cull potatoes",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Horticulture-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "<% include info/Horticulture-Source.html %>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Vegetableother_cullvegetable.csv",
            "name": "Cull other vegetable",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Horticulture-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "<% include info/Horticulture-Source.html %>",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          }
        ]
      }
    ]
  },
  {
    "name": "Municipal Solid Waste",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "The data presented for Victoria in AREMI are the results of modelling the quantities of biomass residue generated throughout the state across Municipal Solid Waste (MSW) and several industries in the Commercial and Industrial (C&I) and Construction and Demolition (C&D) sectors. <p> Data for all modelled residue generation has been presented at a Local Government Area (LGA) equivalent. Due to the prominent use of Australian Bureau of Statistics (ABS) datasets across this study, data has been presented at Statistical Area 2 level (SA2),an Australian Statistical Geography Standard (ASGS) that is part of  the ABS geographical framework for collection and dissemination of geographically classified statistics. SA2s are general-purpose medium sized areas, representing a community that interacts together socially and economically and generally have a population range of 3,000 to 25,000 persons. They can be linked to LGAs through correspondence tables that ABS provides. </p> <p> The categorisation of wastes has considered the end nature of the wastes to be used in energy production. Therefore, an indication of whether a residue is dry, wet, liquid or woody has been provided where possible. They have been discussed below. </p> <p> Dry and woody feed: For consistency, data has where possible been provided in dry tonnes per annum, taking into consideration the moisture content of residue streams, or left as tonnes per annum where application of a moisture content is not feasible due to the inconsistent nature of the organics waste stream or data. </p> <p> Wet feed: Chemical Oxygen Demand (COD) is a measure of the total organic compounds in water  by providing an indication of the total oxygen required to fully oxidise those compounds. COD differs from Biological Oxygen Demand (BOD) in that it considers organic matter than can be chemical oxidised and not just biologically. COD therefore includes more organic compounds (than BOD), and is commonly used for testing industrial wastewaters, a key output from most commercial facilities. COD is also used to predict the potential for biogas production and the COD present in organic material is essentially preserved in the AD end products of methane and digestate residue mass. Hence, where wastewater have been modelled, the residues have been provided in COD tonnes per year. </p> <p> Liquid feed: Compared to wastewater, the main component contributing to the organic strength of sludge and manure is organic Suspended Solids (SS). From an energy generation perspective, the most important metrics in characterising these slurries are Total Solids content (TS) and Volatile Solids content (VS), rather than COD. When considering biogas production from a slurry, the VS content is more important than TS as it represents the fraction of the solid material that may be transferred to biogas. Hence, quantities of residue from manures or slurries have been presented in VS tonnes per year. </p> <p> The types of residues modelled are based on an assessment of the availability of the stream, such as where the current offtake markets have little value or disposal costs are low. </p> <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. </p>",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/MSW_Organics.csv",
        "name": "Organics",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "<% include info/Organics-Paper_Cardboard-Description.html %>",
            "name": "Data Description"
          },
          {
            "content": "Victorian Local Government Annual Survey (VLGAS) 2015-16, Sustainability Victoria",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      },
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/MSW_Paper and Cardboard.csv",
        "name": "Paper and Cardboard",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "<% include info/Organics-Paper_Cardboard-Description.html %>",
            "name": "Data Description"
          },
          {
            "content": "Victorian Local Government Annual Survey (VLGAS) 2015-16, Sustainability Victoria",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      },
      {
        "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Biosolids.csv",
        "name": "Biosolids",
        "type": "csv",
        <% include ../../common/vic_camera_rectangle %>,
        "tableStyle": {
          "timeColumn": null
        },
        "info": [
          {
            "content": "The biosolids data had been provided by the Essential Services Commission (ESC), who collect information and data  annually from the WWTP",
            "name": "Data Description"
          },
          {
            "content": "Essential Services Commision (ESC)",
            "name": "Source Data"
          },
          <% include common-custodian-licensing %>
        ]
      }
    ],
  },
  {
    "name": "Facilities and Sites",
    "type": "group",
    "preserveOrder": true,
    "info": [
      {
        "content": "This information is presented to support the AREMI datasets on biomass residues, providing details on locations of existing bioenergy projects and potential co-location sites. <p> For more information on the modelling methodology, or if you are a generator and would like to provide feedback to improve the assumptions, please contact Kelly Wickham at kelly.wickham@sustainability.vic.gov.au. </p> <p> If you have queries about using the data for your project or would like more information about how Sustainability Victoria may be able to assist you, please contact the Investment Facilitation Services team at invest@sustainability.vic.gov.au, +61 3 8626 8746. </p>",
        "name": "Project Information"
      }
    ],
    "items": [
      {
        "name": "Potential Co-Location Sites",
        "type": "group",
        "preserveOrder": true,
        "items": [
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/WWTPs_list.csv",
            "name": "WWTPs",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Facilities-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "Victorian Environment Protection Authority (EPA)",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Landfill_Facilities.csv",
            "name": "Landfill Facilities",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Facilities-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "Victorian Environment Protection Authority (EPA)",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          },
          {
            "url": "https://calculators.sustainability.vic.gov.au/biomass2018/Bioenergy_Facilities.csv",
            "name": "Bioenergy facilities",
            "type": "csv",
            <% include ../../common/vic_camera_rectangle %>,
            "tableStyle": {
              "timeColumn": null
            },
            "info": [
              {
                "content": "<% include info/Facilities-Description.html %>",
                "name": "Data Description"
              },
              {
                "content": "Sustainability Victoria",
                "name": "Source Data"
              },
              <% include common-custodian-licensing %>
            ]
          }
        ]
      },
    ],
  }
]
