{{#WRRG}}
<h3>{{WRRG}}</h3>
<h4>(LGA: {{LGA_NAME_2011}})</h4>
Amount ({{Unit}}): <b>{{#terria.formatNumber}}{useGrouping:true}{{Amount}}{{/terria.formatNumber}}</b> <br><br>
<small>{{Note}}</small>
{{/WRRG}}
{{^WRRG}}
No data found for this region
{{/WRRG}}